{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pagocolaboracions list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Monto</th>
                <th>Fecha</th>
                <th>Descripcionpago</th>
                <th>Idpagocolaboracion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pagocolaboracion in pagocolaboracions %}
            <tr>
                <td><a href="{{ path('pagocolaboracion_show', { 'id': pagocolaboracion.idpagocolaboracion }) }}">{{ pagocolaboracion.nombre }}</a></td>
                <td>{{ pagocolaboracion.apellido }}</td>
                <td>{{ pagocolaboracion.telefono }}</td>
                <td>{{ pagocolaboracion.monto }}</td>
                <td>{% if pagocolaboracion.fecha %}{{ pagocolaboracion.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ pagocolaboracion.descripcionpago }}</td>
                <td>{{ pagocolaboracion.idpagocolaboracion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pagocolaboracion_show', { 'id': pagocolaboracion.idpagocolaboracion }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pagocolaboracion_edit', { 'id': pagocolaboracion.idpagocolaboracion }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pagocolaboracion_new') }}">Create a new pagocolaboracion</a>
        </li>
    </ul>
{% endblock %}
