<div class="modal fade" id="VerAlumnos{{colaboracion.idcolaboracion}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%; margin-left: 10%">
        <div class="modal-content" style="border-radius: 8px">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 align="center"><strong><strong>Tipo de Colaboración Monetaria</strong></strong></h3>
            </div>
            <div class="modal-body">

                <div class="list-group">
                    <!--modal-->


                    <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa{{colaboracion.idcolaboracion}}">
                        <thead class="thead-light">
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Teléfono</th>
                                <th>Monto</th>
                                <th>Tipo Colaboración</th>
                                <th>Realizó Pago</th>
                                <th>Fecha</th>
                                <th>Acción</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for pagocolaboracion in pagocolaboracions %}
                                <tr>
                                    <td>{{ pagocolaboracion.nombre }}</td>
                                    <td>{{ pagocolaboracion.apellido }}</td>
                                    <td>{{ pagocolaboracion.telefono }}</td>
                                    <td>{{ pagocolaboracion.monto }}</td>
                                    <td>{{ pagocolaboracion.descripcioncolaboracion }}</td>
                                    <td id="pagoTD{{pagocolaboracion.idpagocolaboracion}}">{{ pagocolaboracion.pagorealizado }}</td>
                                    <td>{% if pagocolaboracion.fecha %}{{ pagocolaboracion.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>                                    <td>
                                        <div align="center" id="check{{pagocolaboracion.idpagocolaboracion}}">
                                            {% if( pagocolaboracion.pagorealizado=='NO') %}
                                                <form id="formPago" action="{{path('pagocolaboracion_realizarpago',{'id':pagocolaboracion.idpagocolaboracion,'val':'SI'})}}" method="POST"> 
                                                    <input class="hidden" type="text" id="pagoReali" value="{{pagocolaboracion.idpagocolaboracion}}">
                                                    <button type="button" onClick="realizarPago()" class="btn btn-warning" style="margin-top:1%;widt:100%" title="Pagar"><i class="fa fa-money"></i></button>
                                                </form> 
                                            {%else%}
                                                <i style="color: green" class="fa fa-check"></i>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>


                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal-footer">
                        <div style="float:right">
                            <button type="button" id="test" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascripts_inline %}

    <script language="JavaScript" type="text/javascript">

        $(document).ready(function () {
            $("#tabelMahasiswa{{colaboracion.idcolaboracion}}").DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de MAX total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Lista de Becarios",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            });
            $("#tabelMahasiswa{{colaboracion.idcolaboracion}}").removeAttr("style");
        });


        function realizarPago()
        {
            var form = document.getElementById('formPago');
            var id2 = document.getElementById('pagoReali').value;
            $.ajax({
                method: "GET",
                url: "{{ url('pagocolaboracion_realizarp') }}",
                data: "idpago=" + id2,
                dataType: 'json',
                success: function (data)
                {
                    if (data.hasOwnProperty("response") && data.response === "success")
                    {
                        if (data.hasOwnProperty("posts"))
                        {
                            //http://stackoverflow.com/questions/3710204/how-to-check-if-a-string-is-a-valid-json-string-in-javascript-without-using-try/3710226
                            if (/^[\],:{}\s]*$/.test(data.posts.replace(/\\["\\\/bfnrtu]/g, '@').
                                    replace(/"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g, ']').
                                    replace(/(?:^|:|,)(?:\s*\[)+/g, '')))
                            {
                                var posts = JSON.parse(data.posts);
                                if (posts.length > 0)
                                {
                                        var idPago=$('#pagoReali').val();
                                        $('#check'+idPago).html(`<i style="color: green" class="fa fa-check"></i>`);
                                        $('#pagoTD'+idPago).html("SI");
                                } else
                                {
                                    console.log("INVALID JSON STRING");
                                }
                            } else
                            {
                                console.log("POSTS NOT FOUND");
                            }
                        }
                    }
                },
                error: function (jqXHR, exception)
                {
                    if (jqXHR.status === 405)
                    {
                        console.error("METHOD NOT ALLOWED!");
                    }
                }
            });


            $.ajax({
                url: "{{ url('pagocolaboracion_indexupdate',{'id':colaboracion.idcolaboracion}) }}",
                type: "GET",
                data: {veruser: 1},
                success: function (data) {
                    // En caso de que se ejecute
                    //$('#tabelMahasiswa{{colaboracion.idcolaboracion}} > tbody').html(data);
                      {# var myTable = $('#tabelMahasiswa{{colaboracion.idcolaboracion}}').DataTable();
                       myTable.ajax.reload();#}

                         var table = $('#tabelMahasiswa{{colaboracion.idcolaboracion}}').DataTable();
                         table.clear();
                         table.rows.add(data.data).draw();

                     }
                 });



             }
             ;


    </script>

{%endblock%}

