{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pagocolaboracion</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ pagocolaboracion.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ pagocolaboracion.apellido }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ pagocolaboracion.telefono }}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ pagocolaboracion.monto }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if pagocolaboracion.fecha %}{{ pagocolaboracion.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Descripcionpago</th>
                <td>{{ pagocolaboracion.descripcionpago }}</td>
            </tr>
            <tr>
                <th>Idpagocolaboracion</th>
                <td>{{ pagocolaboracion.idpagocolaboracion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pagocolaboracion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pagocolaboracion_edit', { 'id': pagocolaboracion.idpagocolaboracion }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
