{% extends "layout/base-layout.html.twig" %}

{% block page_title %}Tipo Insumos{% endblock %}
{% block page_subtitle %}Lista De Tipo Insumos{% endblock %}

{% block page_content %}

    <div class="box box-primary">
        <div style="width:90%; margin-left:5%; margin-top: 2% ">

            <div align="left">
                <a style="font-size: 15px" href="{{ path('tipoinsumo_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i> Tipo Insumo</a>
            </div>
            <br>

            <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
                <thead class="thead-light">
            <tr>
                <th>Tipo Insumo</th>
                <th>Estado Insumo</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoinsumo in tipoinsumo %}
            <tr>
                <td>{{ tipoinsumo.tipoinsumo }}</td>
                <td>{% if tipoinsumo.estadotipoinsumo==1 %}ALTA{% else %}BAJA{% endif %}</td>
                <td>
                  <div style="float:left;"><button class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#VerInsumo{{ tipoinsumo.Idtipoinsumo }}"><i class="fa fa-eye" style="font-size: 20px; color: deepskyblue"></i></button>
                          {{ render(controller('AppBundle:Tipoinsumo:show', { 'id' : tipoinsumo.Idtipoinsumo } )) }}
                  </div>
                  
                  <div style="float:left;" >
                    <a href="{{ path('tipoinsumo_edit',{ 'id' : tipoinsumo.Idtipoinsumo }) }}" style="background-color: transparent; border: none;"><i class="fa fa-edit" style="font-size: 20px; color: limegreen"></i></a>
                  </div>
                  
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}