{% extends "layout/base-layout.html.twig" %}

{% block page_title %}Tipo de Insumo | {% endblock %}

{% block page_content %}

<div class="box box-primary">
<div style="width:90%; margin-left:5%; margin-top: 2% ">
            <div align="left">
                <a style="font-size: 15px" href="{{ path('tipoinsumo_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i> Tipo de Insumo</a>
            </div>
            <br>

            <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
                <thead class="thead-light">
            <tr>
                <th width="50%">Tipo de Insumo</th>
                <th width="30%">Estado</th>
                <th width="20%">Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoinsumo in tipoinsumo %}

            <tr>
                <td>{{ tipoinsumo.tipoinsumo }}</td>
                <td>{% if tipoinsumo.estadotipoinsumo==1 %}Activo{% else %}Inactivo{% endif %}</td>
                <td align="center">

                <div class="options btn-group btn-group-sm">
                  <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-caret-down no-margin"></i> Opciones
                  </a>
                  <ul class="dropdown-menu">

                    <li>
                        <a href="#" data-toggle="modal" data-target="#VerInsumo{{ tipoinsumo.Idtipoinsumo }}">
                            <i class="fa fa-eye fa-margin"></i> Mostrar
                        </a>
                    </li>

                     <li>
                        <a href="{{ path('tipoinsumo_edit',{ 'id' : tipoinsumo.Idtipoinsumo }) }}" >
                            <i class="fa fa-edit fa-margin"></i> Editar
                        </a>
                    </li>

                    <li>
                        <a href="#" data-toggle="modal" data-target="#deleteinsumo{{ tipoinsumo.Idtipoinsumo }}">
                            <i class="fa fa-trash-o fa-margin"></i> Eliminar
                        </a>
                    </li>
                    
                    </ul>
                      {{ render(controller('AppBundle:Tipoinsumo:showDelete', { 'id' : tipoinsumo.Idtipoinsumo } )) }}
                      {{ render(controller('AppBundle:Tipoinsumo:show', { 'id' : tipoinsumo.Idtipoinsumo } )) }}
                  </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}