<div class="modal fade" id="EditCola{{ colaboracionmonetaria.idcolaboracion }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4>Banco</h4>
				</div>
				<div class="modal-body">

				<div class="list-group">
				<a herf="#" class=""list-group-item active">
			    <!--modal-->
				</a>

        {{ form_start(edit_form, {'action': path('Colaboracionmonetaria_edit', {'id': colaboracionmonetaria.idcolaboracion}), 'Method': 'POST' }) }}

          {{ form_errors(edit_form) }}

          <div class="list-group" align="left">
           <div class="list-group-item">
           <div class="form-group">
             <label class="col-md-4 control-label" for="textinput">Descripcion</label>
                  {{ form_errors(edit_form.Descripcioncolaboracion) }}
                  <div class="col-md-4">
                  {{ form_widget(edit_form.Descripcioncolaboracion) }}
                  </div>
                   </div>
           </div>

           <div class="list-group" align="left">
            <div class="list-group-item">
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Colaboracion $</label>
                   {{ form_errors(edit_form.Montomescolaboracion) }}
                   <div class="col-md-4">
                   {{ form_widget(edit_form.Montomescolaboracion) }}
                   </div>
                    </div>
            </div>

            <div class="list-group" align="left">
             <div class="list-group-item">
             <div class="form-group">
               <label class="col-md-4 control-label" for="textinput">Monto $</label>
                    {{ form_errors(edit_form.Saldocolaboracion) }}
                    <div class="col-md-4">
                    {{ form_widget(edit_form.Saldocolaboracion) }}
                    </div>
                     </div>
             </div>

             <div class="list-group" align="left">
              <div class="list-group-item">
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Estado</label>
                     {{ form_errors(edit_form.Estadocolaboracion) }}
                     <div class="col-md-4">
                     {{ form_widget(edit_form.Estadocolaboracion) }}
                     </div>
                      </div>
              </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
            {{ form_end(edit_form) }}
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            
