{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Colaboraci贸n Monetaria{% endblock %}

{% block page_content %}

<div class="box box-primary">
<div style="width:90%; margin-left:5%; margin-top: 2% ">

<div align="left">
     <a style="font-size: 15px" href="{{ path('colaboracionmonetaria_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i> Tipo de Colaboraci贸n Monetaria</a>
</div>
<br> </br>

        <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
            <thead class="thead-light">
            <tr>
                <th width="15%">Usuario</th>
                <th width="30%">Colaboraci贸n</th>
                <th width="15%">Monto de Colaboraci贸n</th>
                <th width="10%">Saldo</th>
                <th width="15%">Estado</th>
                <th width="15%"><center>Opciones</center></th>
            </tr>
        </thead>
        <tbody>
        {% for colaboracionmonetaria in colaboracionmonetarias %}
            <tr>
                <td>{{ colaboracionmonetaria.idusuario }}</td>
                <td>
                    <div style="float:left;"><a style="background-color: transparent; border: none;" data-colaboracion="{{ colaboracionmonetaria.idcolaboracion }}" onclick="getDataTarget(this);" data-toggle="modal"  data-target="#VerAlumnos{{ colaboracionmonetaria.idcolaboracion }}">{{ colaboracionmonetaria.descripcioncolaboracion }}</a>
                        <div id="Pagos{{colaboracionmonetaria.idcolaboracion}}}}"> {{ render(controller('AppBundle:Pagocolaboracion:index', { 'id': colaboracionmonetaria.idcolaboracion } )) }} </div>
                  </div>
                </td>
                
                <td>{{ "$"~colaboracionmonetaria.montomescolaboracion }}</td>
                <td>{{ "$"~colaboracionmonetaria.saldocolaboracion }}</td>
                <td>{% if colaboracionmonetaria.estadocolaboracion %}Activa{% else %}Inactiva{% endif %}</td>
                  <td align="center"> 


                  <div class="options btn-group btn-group-sm">
                  <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-caret-down no-margin"></i> Opciones
                  </a>
                  <ul class="dropdown-menu">

                    <li>
                        <a href="#" data-toggle="modal" data-target="#VerTipocta{{ colaboracionmonetaria.idcolaboracion }}">
                            <i class="fa fa-eye fa-margin"></i> Mostrar
                        </a>
                    </li>

                     <li>
                        <a href="{{ path('colaboracionmonetaria_edit',{ 'id' : colaboracionmonetaria.idcolaboracion }) }}" >
                            <i class="fa fa-edit fa-margin"></i> Editar
                        </a>
                    </li>

                    <li>
                        <a href="#" data-toggle="modal" data-target="#deletetcolaboracion{{ colaboracionmonetaria.idcolaboracion }}">
                            <i class="fa fa-trash-o fa-margin"></i> Eliminar
                        </a>
                    </li>
                    
                    </ul>
                          {{ render(controller('AppBundle:Colaboracionmonetaria:showdelete', { 'id' : colaboracionmonetaria.idcolaboracion } )) }}
                           {{ render(controller('AppBundle:Colaboracionmonetaria:show', { 'id' : colaboracionmonetaria.idcolaboracion } )) }}
                  </div>
                </td>
            </tr>
         
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}

 {%block javascripts_inline %}
  <script>
    var dTarget = 0;

        function getDataTarget(d) {
            dTarget = d.getAttribute("data-colaboracion");

            $('#VerAlumnos' + dTarget).on('hidden.bs.modal', function () {
                 location.reload();
            });
        };

  </script>



{% endblock %}   

