{% extends 'base.html.twig' %}

{% block body %}
    <h1>Insumo</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombreinsumo</th>
                <td>{{ insumo.nombreinsumo }}</td>
            </tr>
            <tr>
                <th>Descripcioninsumo</th>
                <td>{{ insumo.descripcioninsumo }}</td>
            </tr>
            <tr>
                <th>Estadoinsumo</th>
                <td>{% if insumo.estadoinsumo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Idinsumo</th>
                <td>{{ insumo.idinsumo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('insumo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('insumo_edit', { 'id': insumo.idinsumo }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
