{% extends "layout/base-layout.html.twig" %}

{% block page_title %}Insumo {% endblock %}

{% block page_content %}

    <div class="box box-primary">
        <div style="width:90%; margin-left:5%; margin-top: 2% ">

            <div align="left">
                <a style="font-size: 15px" href="{{ path('insumo_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i> Insumo</a>
            </div>
            <br>

            <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
                <thead class="thead-light">
            <tr>
                <th width="25%">Insumo</th>
                <th width="50%">Descripción</th>
                <th width="10%">Estado</th>
                <th width="15%"><center>Opciones</center></th>
            </tr>
        </thead>
        <tbody>
        {% for insumo in insumos %}
            <tr>
                <td>{{ insumo.nombreinsumo }}</td>
                <td>{{ insumo.descripcioninsumo }}</td>
                <td align="left">{% if insumo.estadoinsumo==1 %}Activo{% else %}Inactivo{% endif %}</td>
                <td align="center">
                <div class="btn-group" style="width:100%">
                  <button class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#Verinsu{{ insumo.idinsumo}}"><i class="fa fa-eye" style="font-size: 20px; color: deepskyblue"></i></button>
                          {{ render(controller('AppBundle:Insumo:show', { 'id' : insumo.idinsumo } )) }}

                    <a href="{{ path('insumo_edit',{ 'id' : insumo.idinsumo }) }}" style="background-color: transparent; border: none;"><i class="fa fa-edit" style="font-size: 20px; color: limegreen"></i></a>
                   <button class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#Verinsudelete{{ insumo.idinsumo }}"><i class="fa fa-trash" style="font-size: 20px; color: crimson"></i></button>
                          {{ render(controller('AppBundle:Insumo:showDelete', { 'id' : insumo.idinsumo } )) }}
                  </div>
                </td>
             </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}