<div class="modal fade" id="VerCuenta{{ cuenta.idcuenta }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width:60%; margin-left: 15%" class="modal-dialog">
        <div class="modal-content" style="border-radius: 40px">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">	
                    <h3 class="col col-md-11 col-md-offset-0" align="center"><strong>N° Cuenta: <strong>{{  cuenta.numcuenta }}<strong>  -   {{  cuenta.nomcuenta }}</strong></strong></strong></h3>
                </div>
            </div>
            <div class="modal-body">

                <div class="row" style="margin-left:5%" align="left">
                    <!--modal-->
                    <div class="col col-md-7">

                        <h4><i class="fa fa-list"></i>  Descripcion</h4>
                        <p class="form-group"><strong>{{  cuenta.descripcioncuenta }}</strong></p>
                        <hr>
                        <h4><i class="fa fa-money"></i>  Saldo Inicial</h4>
                        <p class="form-group"><strong>{{ "$"~cuenta.saldocuenta }}</strong></p>
                        <hr>
                        <h4><i class="fa fa-money"></i>  Saldo Actual</h4>
                        <p class="form-group"><strong>{{ "$"~cuenta.saldoactual }}</strong></p>
                        <hr>
                        <h4><i class="fa fa-home"></i>  Banco</h4>
                        <p class="form-group"><strong>{{  cuenta.idbanco }}</strong></p>
                        <hr>
                        <h4><i class="fa fa-calculator"></i>  Cuenta</h4>
                        <p class="form-group"><strong>{{  cuenta.nomcuenta }}</strong></p>
                        <hr>
                        <h4><i class="fa fa-check-square"></i>  Estado</h4>
                        <p class="form-group"><strong>{% if cuenta.estadocuenta==1  %} Activo {% else %} Inactivo {% endif %}</strong></p>
                    </div>
                    <div class="col col-md-5">

                        <img style="width:75%;margin-top: 10%;margin-bottom: 2%" src="{{ asset('img/budget.png') }}"></img>
                    </div>
                </div>

                <div class="modal-footer" al>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
