{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Servicio Social | {% endblock %}
{% block page_subtitle %}Listado Servicio Social{% endblock %}

{% block page_content %}
<div class="box box-primary">
<div style="width:90%; margin-left:5%; margin-top: 2% ">

<div align="left">
     <a style="font-size: 15px" href="{{ path('serviciosocial_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i>  Registrar Servicio Social</a>
</div>
<br>

    <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
       
        <thead>
            <tr>
                <th>Becario</th>
                <th>Fecha Aprobacion</th>
                <th>Fecha De Inicio Del Proyecto</th>
                <th>Fecha Fin Del Proyecto</th>
                <th>Estado</th>
                <th>Servicio Social</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serviciosocial in serviciosocials %}
            <tr>
                <td>{{ serviciosocial.nombrebecario }}</td>
                <td>{% if serviciosocial.fechaaprovacionservicio %}{{ serviciosocial.fechaaprovacionservicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if serviciosocial.fechainicioservicio %}{{ serviciosocial.fechainicioservicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if serviciosocial.fechafinservicio %}{{ serviciosocial.fechafinservicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if serviciosocial.estadoservicio==0 %}Inactivo{% else %}Activo{% endif %}</td>
                <td>{{ serviciosocial.idproyectservisocial }}</td>
                <td>
                  
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
