{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Servicio Social | {% endblock %}
{% block page_subtitle %}Listado Servicio Social{% endblock %}

{% block page_content %}
<div class="box box-primary">
<div style="width:90%; margin-left:5%; margin-top: 2% ">

<div align="left">
    <button class="btn btn-primary" data-toggle="modal" data-target="#crearSS"> +Servicio Social</button>
     {{ render(controller('AppBundle:Serviciosocial:new' )) }}
</div>
<br> </br>

    <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
       
        <thead>
            <tr>
                <th>Idexpbecario</th>
                <th>Fechaaprovacionservicio</th>
                <th>Fechainicioservicio</th>
                <th>Fechafinservicio</th>
                <th>Estadoservicio</th>
                <th>Idserviciosocial</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serviciosocial in serviciosocials %}
            <tr>
                <td><a href="{{ path('serviciosocial_show', { 'id': serviciosocial.idserviciosocial }) }}">{{ serviciosocial.idexpbecario }}</a></td>
                <td>{% if serviciosocial.fechaaprovacionservicio %}{{ serviciosocial.fechaaprovacionservicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if serviciosocial.fechainicioservicio %}{{ serviciosocial.fechainicioservicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if serviciosocial.fechafinservicio %}{{ serviciosocial.fechafinservicio|date('Y-m-d') }}{% endif %}</td>
                <td>{{ serviciosocial.estadoservicio }}</td>
                <td>{{ serviciosocial.idserviciosocial }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('serviciosocial_show', { 'id': serviciosocial.idserviciosocial }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('serviciosocial_edit', { 'id': serviciosocial.idserviciosocial }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
