{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Movimiento | {% endblock %}
{% block page_subtitle %}Modificar Movimiento De Fondos {% endblock %}

{% block page_content %}

    <div class="box box-primary" style="width: 100%;">

        <div  style="width:90%; margin-top: 5%; margin-left: 5%; background-color:#F3F3F3; border-radius:5px " class="panel panel-default"> 
            <div class="col col-md-12" align="center" > 
                <img style="width:80px;margin-top: 2%;margin-bottom: 2%" src="{{ asset('img/Banco.png') }}"></img>
            </div>   
            <div class="col col-md-12 " align="center" style="margin-top:-15px"> 
                <h2 class="col col-md-12" style="font-family: palatino header" >Modificar Movimiento De Fondos</h2>
                <h4 class="col col-md-12" style="color:grey; font-family: palatino body; margin-top: -3px;">Complete los campos requeridos:<span style="font-size: 25;color: red" >*</span></h4>
            </div>

            <div  class="container"  style="width: 80%; margin-top: 3%; margin-bottom: 3%">
                {{ form_start(edit_form) }}
                <div class="row">
                    <div class="col col-md-6">
                        <label for="form_firstname">Asociar Cuenta <span style="font-size: 25;color: red" >*</span></label>
                        {{ form_widget(edit_form.idcuenta) }}
                        {{ form_errors(edit_form.idcuenta) }}
                    </div>
                    <div class="col col-md-6">
                        <label for="form_lastname">Tipo de movimiento <span style="font-size: 25;color: red" >*</span></label>
                        {{ form_widget(edit_form.idtipomov) }}
                        {{ form_errors(edit_form.idtipomov) }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col col-md-10">
                        <label for="form_lastname">Descripcion</label>
                        {{ form_widget(edit_form.descripcionmov) }}
                        {{ form_errors(edit_form.descripcionmov) }}
                    </div>
                    <div class="col col-md-2" >
                        <label for="form_estado">Estado</label>
                        {{ form_widget(edit_form.estadomov) }}
                        {{ form_errors(edit_form.estadomov) }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col col-md-6" align="left">
                        <label for="form_monto">Monto <span style="font-size: 25;color: red" >*</span></label>
                        {{ form_widget(edit_form.monto) }}
                        {{ form_errors(edit_form.monto) }}
                    </div>
                    <div class="col col-md-6" align="center">
                        <label for="form_file">Adjuntar Comprobante</label>
                        {{ form_widget(edit_form.comprobante_file) }}
                        {{ form_errors(edit_form.comprobante_file) }}
                        <a href="{{asset('images/documents/'~movimiento.getComprobante())}}" target="blank">Descargar Comprobante</a>
                    </div>
                    
                </div>
                <hr>
                <div class="row">
                    <div class="col col-md-12" align="right">
                        <a href="{{ absolute_url(asset('')) }}movimiento" class="btn btn-primary btn-xl">Cancelar</a>
                        <input  class="btn btn-success btn-xl" type="submit"  value="Guardar" />
                    </div>
                </div>
                {{ form_end(edit_form) }}

            </div>
        </div>
        <br>
        <br>
    </div>
<br>
<br>


{% endblock %}