<div class="modal fade" id="deleteMovi{{  movimiento.idmov }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width:70%; margin-left: 15%" class="modal-dialog">
        <div class="modal-content"  style="border-radius: 40px">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 align="center"><strong>¿Desea eliminar el registro?</strong></h3>
            </div>
            <div class="modal-body">

                <div class="row" style="margin-left:5%" align="left">
                    <!--modal-->
                    <div class="col col-md-7">
                    <h4><i class="fa fa-list"></i>  Descripción Del Movimiento</h4>
                    <p class="form-group"><strong>{{ movimiento.descripcionmov }}</strong></p>
                    <hr>
                    <h4><i class="fa fa-money"></i>  Monto</h4>
                    <p class="form-group"><strong>{{ "$"~movimiento.monto }}</strong></p>
<hr>
                    <h4><i class="fa fa-check-square"></i>  Estado</h4>
                    <p class="form-group"><strong>{% if movimiento.estadomov %}Activo{% else %}Inactivo{% endif %}</strong></p>
<hr>
                    <h4><i class="fa fa-table"></i>  Tipo de Cuenta</h4>
                    <p class="form-group"><strong>{{ movimiento.idcuenta }}</strong></p>
<hr>
                    <h4><i class="fa fa-table"></i>  Tipo de Movimiento</h4>
                    <p class="form-group"><strong>{{ movimiento.idtipomov }}</strong></p>
                    </div>
                    <div class="col col-md-5">
                        <img style="width:75%;margin-top: 10%;margin-bottom: 2%" src="{{ asset('img/delete.png') }}"></img>
                    </div>
                </div>

                <div class="modal-footer" al>
                    <div style="float:right">
                        {{ form_start(delete_form) }}
                        <input type="submit" class="btn btn-danger" style="margin-left:1px" value="Eliminar">
                        {{ form_end(delete_form) }}
                    </div>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
