{% extends 'base.html.twig' %}

{% block body %}
    <h1>Solicitudbecarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Telefonosolibecario</th>
                <th>Ingresossolifamiliabecario</th>
                <th>Miembrossolifamiliabecario</th>
                <th>Tiposolicasabecario</th>
                <th>Carrerasoliestudiarbecario</th>
                <th>Universidadsolibecario</th>
                <th>Montosolimatriculabecario</th>
                <th>Cuotasolimensualbecario</th>
                <th>Duracionsolicarrerabecario</th>
                <th>Trabajosolibecario</th>
                <th>Docsoliidentidadbecario</th>
                <th>Aniosoliingresobecario</th>
                <th>Aniosolifinalizacionbecario</th>
                <th>Cantsolihermanosbecario</th>
                <th>Nomsolipadrebecario</th>
                <th>Nomsolimadrebecario</th>
                <th>Telsoliemergenciabecario</th>
                <th>Telsolipersonalbecario</th>
                <th>Miembrossolifamilibecario</th>
                <th>Direccionsolibecario</th>
                <th>Estadosolibecario</th>
                <th>Idsolibecario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for solicitudbecario in solicitudbecarios %}
            <tr>
                <td><a href="{{ path('solicitudbecario_show', { 'id': solicitudbecario.idsolibecario }) }}">{{ solicitudbecario.telefonosolibecario }}</a></td>
                <td>{{ solicitudbecario.ingresossolifamiliabecario }}</td>
                <td>{{ solicitudbecario.miembrossolifamiliabecario }}</td>
                <td>{{ solicitudbecario.tiposolicasabecario }}</td>
                <td>{{ solicitudbecario.carrerasoliestudiarbecario }}</td>
                <td>{{ solicitudbecario.universidadsolibecario }}</td>
                <td>{{ solicitudbecario.montosolimatriculabecario }}</td>
                <td>{{ solicitudbecario.cuotasolimensualbecario }}</td>
                <td>{{ solicitudbecario.duracionsolicarrerabecario }}</td>
                <td>{% if solicitudbecario.trabajosolibecario %}Yes{% else %}No{% endif %}</td>
                <td>{{ solicitudbecario.docsoliidentidadbecario }}</td>
                <td>{% if solicitudbecario.aniosoliingresobecario %}{{ solicitudbecario.aniosoliingresobecario|date('Y-m-d') }}{% endif %}</td>
                <td>{% if solicitudbecario.aniosolifinalizacionbecario %}{{ solicitudbecario.aniosolifinalizacionbecario|date('Y-m-d') }}{% endif %}</td>
                <td>{{ solicitudbecario.cantsolihermanosbecario }}</td>
                <td>{{ solicitudbecario.nomsolipadrebecario }}</td>
                <td>{{ solicitudbecario.nomsolimadrebecario }}</td>
                <td>{{ solicitudbecario.telsoliemergenciabecario }}</td>
                <td>{{ solicitudbecario.telsolipersonalbecario }}</td>
                <td>{{ solicitudbecario.miembrossolifamilibecario }}</td>
                <td>{{ solicitudbecario.direccionsolibecario }}</td>
                <td>{% if solicitudbecario.estadosolibecario %}Yes{% else %}No{% endif %}</td>
                <td>{{ solicitudbecario.idsolibecario }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('solicitudbecario_show', { 'id': solicitudbecario.idsolibecario }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('solicitudbecario_edit', { 'id': solicitudbecario.idsolibecario }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('solicitudbecario_new') }}">Create a new solicitudbecario</a>
        </li>
    </ul>
{% endblock %}
