{% extends 'base.html.twig' %}

{% block body %}
    <h1>Solicitudbecario</h1>

    <table>
        <tbody>
            <tr>
                <th>Telefonosolibecario</th>
                <td>{{ solicitudbecario.telefonosolibecario }}</td>
            </tr>
            <tr>
                <th>Ingresossolifamiliabecario</th>
                <td>{{ solicitudbecario.ingresossolifamiliabecario }}</td>
            </tr>
            <tr>
                <th>Miembrossolifamiliabecario</th>
                <td>{{ solicitudbecario.miembrossolifamiliabecario }}</td>
            </tr>
            <tr>
                <th>Tiposolicasabecario</th>
                <td>{{ solicitudbecario.tiposolicasabecario }}</td>
            </tr>
            <tr>
                <th>Carrerasoliestudiarbecario</th>
                <td>{{ solicitudbecario.carrerasoliestudiarbecario }}</td>
            </tr>
            <tr>
                <th>Universidadsolibecario</th>
                <td>{{ solicitudbecario.universidadsolibecario }}</td>
            </tr>
            <tr>
                <th>Montosolimatriculabecario</th>
                <td>{{ solicitudbecario.montosolimatriculabecario }}</td>
            </tr>
            <tr>
                <th>Cuotasolimensualbecario</th>
                <td>{{ solicitudbecario.cuotasolimensualbecario }}</td>
            </tr>
            <tr>
                <th>Duracionsolicarrerabecario</th>
                <td>{{ solicitudbecario.duracionsolicarrerabecario }}</td>
            </tr>
            <tr>
                <th>Trabajosolibecario</th>
                <td>{% if solicitudbecario.trabajosolibecario %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Docsoliidentidadbecario</th>
                <td>{{ solicitudbecario.docsoliidentidadbecario }}</td>
            </tr>
            <tr>
                <th>Aniosoliingresobecario</th>
                <td>{% if solicitudbecario.aniosoliingresobecario %}{{ solicitudbecario.aniosoliingresobecario|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Aniosolifinalizacionbecario</th>
                <td>{% if solicitudbecario.aniosolifinalizacionbecario %}{{ solicitudbecario.aniosolifinalizacionbecario|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cantsolihermanosbecario</th>
                <td>{{ solicitudbecario.cantsolihermanosbecario }}</td>
            </tr>
            <tr>
                <th>Nomsolipadrebecario</th>
                <td>{{ solicitudbecario.nomsolipadrebecario }}</td>
            </tr>
            <tr>
                <th>Nomsolimadrebecario</th>
                <td>{{ solicitudbecario.nomsolimadrebecario }}</td>
            </tr>
            <tr>
                <th>Telsoliemergenciabecario</th>
                <td>{{ solicitudbecario.telsoliemergenciabecario }}</td>
            </tr>
            <tr>
                <th>Telsolipersonalbecario</th>
                <td>{{ solicitudbecario.telsolipersonalbecario }}</td>
            </tr>
            <tr>
                <th>Miembrossolifamilibecario</th>
                <td>{{ solicitudbecario.miembrossolifamilibecario }}</td>
            </tr>
            <tr>
                <th>Direccionsolibecario</th>
                <td>{{ solicitudbecario.direccionsolibecario }}</td>
            </tr>
            <tr>
                <th>Estadosolibecario</th>
                <td>{% if solicitudbecario.estadosolibecario %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Idsolibecario</th>
                <td>{{ solicitudbecario.idsolibecario }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('solicitudbecario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('solicitudbecario_edit', { 'id': solicitudbecario.idsolibecario }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
