<div class="modal fade" id="deletesoli{{ solicitudbecario.idsolibecario }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width:70%; margin-left: 15%" class="modal-dialog">
        <div class="modal-content" style="border-radius: 40px">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">	
                    <h3 class="col col-md-11 col-md-offset-1" align="center"><strong>Solicitud Numero: <strong>{{  solicitudbecario.idsolibecario }}</strong></strong></h3>
                </div>
            </div>
            <div class="modal-body">

                <div class="row" style="margin-left:5%" align="left">
                    <!--modal-->
                    <div class="col col-md-7">
                    
                <h4><i class="fa fa-calculator"></i> Telefonos</h4>
                <p class="form-group"><strong>{{ solicitudbecario.telefonosolibecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-money"></i> Ingresos familiares</h4>
                <p class="form-group"><strong>{{ solicitudbecario.ingresossolifamiliabecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Miembros familiares</h4>
                <p class="form-group"><strong>{{ solicitudbecario.miembrossolifamiliabecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Edad</h4>
                <p class="form-group"><strong>{{ solicitudbecario.edad }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Sexo</h4>
                <p class="form-group"><strong>{{ solicitudbecario.sexo }}</strong></p>
                <hr>
                <h4><i class="fa fa-calculator"></i> Nota Paes</h4>
                <p class="form-group"><strong>{{ solicitudbecario.paes }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Religion</h4>
                <p class="form-group"><strong>{{ solicitudbecario.religion }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Tipo Solicitud</h4>
                <p class="form-group"><strong>{{ solicitudbecario.tiposolicasabecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Carrera A Estudiar</h4>
                <p class="form-group"><strong>{{ solicitudbecario.carrerasoliestudiarbecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Universidad</h4>
                <p class="form-group"><strong>{{ solicitudbecario.universidadsolibecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-money"></i> Matricula</h4>
                <p class="form-group"><strong>{{ solicitudbecario.montosolimatriculabecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-money"></i> Cuota Mensual</h4>
                <p class="form-group"><strong>{{ solicitudbecario.cuotasolimensualbecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Duracion Carrera</h4>
                <p class="form-group"><strong>{{ solicitudbecario.duracionsolicarrerabecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-check-square"></i>Otras Becas</h4>
                <p class="form-group"><strong>{% if solicitudbecario.otrasbecas %}Si{% else %}No{% endif %}</strong></p>
                <hr>
                <h4><i class="fa fa-money"></i> Monto Otras Becas</h4>
                <p class="form-group"><strong>{{ solicitudbecario.montootrasbecas }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Documento De Identidad</h4>
                <p class="form-group"><strong>{{ solicitudbecario.docsoliidentidadbecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-calendar"></i> Año de ingreso</h4>
                <p class="form-group"><strong>{% if solicitudbecario.aniosoliingresobecario %}{{ solicitudbecario.aniosoliingresobecario|date('Y-m-d') }}{% endif %}</strong></p>
                <hr>
                <h4><i class="fa fa-calendar"></i> Año de finalizacion</h4>
                <p class="form-group"><strong>{% if solicitudbecario.aniosolifinalizacionbecario %}{{ solicitudbecario.aniosolifinalizacionbecario|date('Y-m-d') }}{% endif %}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Numero De Hermanos</h4>
                <p class="form-group"><strong>{{ solicitudbecario.cantsolihermanosbecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Nombre del padre</h4>
                <p class="form-group"><strong>{{ solicitudbecario.nomsolipadrebecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Ocupacion Padre</h4>
                <p class="form-group"><strong>{{ solicitudbecario.ocupacionpadre }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Nombre de la madre</h4>
                <p class="form-group"><strong>{{ solicitudbecario.nomsolimadrebecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Ocupacion Madre</h4>
                <p class="form-group"><strong>{{ solicitudbecario.ocupacionmadre }}</strong></p>
                <hr>
                <h4><i class="fa fa-calculator"></i> Telefono de emergencias</h4>
                <p class="form-group"><strong>{{ solicitudbecario.telsoliemergenciabecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-calculator"></i> Telefono Personal</h4>
                <p class="form-group"><strong>{{ solicitudbecario.telsolipersonalbecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Miembros Familiares</h4>
                <p class="form-group"><strong>{{ solicitudbecario.miembrossolifamilibecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-list"></i> Direccion</h4>
                <p class="form-group"><strong>{{ solicitudbecario.direccionsolibecario }}</strong></p>
                <hr>
                <h4><i class="fa fa-check-square"></i> Activo</h4>
                <p class="form-group"><strong>{% if solicitudbecario.estadosolibecario %}Yes{% else %}No{% endif %}</strong></p>
                
        </div>
                    <div class="col col-md-5">

                        <img style="width:75%;margin-top: 10%;margin-bottom: 2%" src="{{ asset('img/delete.png') }}"></img>
                    </div>
                </div>

                    
             <div class="modal-footer" al>
                    <div style="float:right">
                        {{ form_start(delete_form) }}
                        <input type="submit" class="btn btn-danger" style="margin-left:1px" value="Delete">
                        {{ form_end(delete_form) }}
                    </div>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
