<div class="modal fade" id="VerSoli{{ solicitudbecario.idsolibecario }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width:70%; margin-left: 15%" class="modal-dialog">
        <div class="modal-content" style="border-radius: 40px">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">	
                    <h3 class="col col-md-11 col-md-offset-1" align="center"><strong>Solicitud Becario </strong></h3>
                </div>
            </div>
            <div class="modal-body" >

                <div style="background-color: lightgray;" > 
                    <br>
                    <div class="nav-tabs-custom" style="width:95%; margin-left: 2.5%; ">
                        <ul class="nav nav-tabs">
                            <li class="active"><a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#datosPersonales{{solicitudbecario.idsolibecario}}" role="tab" aria-controls="nav-profile" aria-selected="false">Datos Personales</a></li>
                            <li><a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#datosAcademicos{{solicitudbecario.idsolibecario}}" role="tab" aria-controls="nav-profile" aria-selected="false">Datos Academicos</a></li>
                            <li><a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#datosFamiliares{{solicitudbecario.idsolibecario}}" role="tab" aria-controls="nav-contact" aria-selected="false">Datos Familiares</a></li>
                        </ul>
                        <div class="tab-content">


                            <div class="active tab-pane" id="datosPersonales{{solicitudbecario.idsolibecario}}" style="width:90%; margin-left: 5%">
                                <div class="row">
                                    <div class="col col-md-6"><h3>Datos Personales</h3></div>
                                    <div class="col col-md-6">
                                        <p align="right"><strong>Aspirante:</strong><u> {{app.user.getFirstName()  ~" "~app.user.getLastName()  }}</u></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">     

                                    <div class="col col-md-6" align="left">
                                        <label for="form_documento"><i class="fa fa-id-card"></i> Documento Identidad: </label>
                                        {{ solicitudbecario.docsoliidentidadbecario   }}

                                    </div> 

                                    <div class="col col-md-6" align="left">
                                        <label for="form_cdirecto"> <i class="fa fa-phone"></i> Numero de contacto: </label>
                                        {{ solicitudbecario.telsolipersonalbecario   }}

                                    </div> 

                                    <div class="col col-md-6" align="left">
                                        <label for="form_telefono"><i class="fa fa-phone"></i> Otro Contacto: </label>
                                        {{ solicitudbecario.telefonosolibecario   }}

                                    </div> 
                                    <br>

                                    <div class="col col-md-6" align="left">
                                        <label for="form_edad"><i class="fa fa-calendar"></i> Fecha Nacimiento: </label>
                                        <strong>{% if solicitudbecario.fechaNacimiento %}{{ solicitudbecario.fechaNacimiento|date('Y-m-d') }}{% endif %}</strong>

                                    </div>

                                    <div class="col col-md-6" align="left">
                                        <label for="form_edad"><i class="fa fa-venus-mars"></i> Sexo: </label>
                                        {{ solicitudbecario.sexo   }}

                                    </div>

                                    <div class="col col-md-6" align="LEFT">
                                        <label for="form_trabajo"><i class="fa fa-briefcase"></i> Posee trabajo</label>
                                        {% if solicitudbecario.trabajosolibecario==1  %}SI{%else%}NO{%endif%}

                                    </div> 

                                </div>
                                <br>

                                <div class="row">  
                                    <div class="col col-md-6" align="left">
                                        <label for="form_religion"><i class="fa fa-child"></i> Religion:</label>
                                        {{ solicitudbecario.religion   }}

                                    </div>
                                    <div class="col col-md-6" align="left">
                                        <label for="form_antecedentes"><i class="fa fa-user"></i> Descripción Personal:</label>
                                        {{ solicitudbecario.antecedentes   }}

                                    </div>   

                                </div>
                                <br>
                                <div class="row">  
                                    <div class="col col-md-12" align="left">
                                        <label for="form_direccion"><i class="fa fa-street-view"></i> Dirección: </label>
                                        {{ solicitudbecario.direccionsolibecario   }}

                                    </div> 

                                </div>
                                <br>
                            </div><!-- /.tab-pane -->

                            <div class="tab-pane" id="datosAcademicos{{solicitudbecario.idsolibecario}}" style="width:90%; margin-left: 5%">
                                <h3>Datos Academicos</h3>
                                <hr>
                                <div class="row">  

                                    <div class="col col-md-6" align="left">
                                        <label for="form_carrera"><i class="fa fa-graduation-cap"></i> Carrera: </label>
                                        {{ solicitudbecario.carrerasoliestudiarbecario   }}

                                    </div> 

                                    <div class="col col-md-6" align="left">
                                        <label for="form_universidad"><i class="fa fa-university"></i> Universidad: </label>
                                        {{ solicitudbecario.universidadsolibecario   }}

                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col col-md-6" align="left" id='datetimepicker1'>
                                        <label for="form_anioinicio"><i class="fa fa-calendar"></i> Fecha Ingreso Universidad: </label>
                                        <strong>{% if solicitudbecario.aniosoliingresobecario %}{{ solicitudbecario.aniosoliingresobecario|date('Y-m-d') }}{% endif %}</strong>

                                    </div>

                                    <div class="col col-md-6" align="left" id='datetimepicker2'>
                                        <label for="form_aniofin"><i class="fa fa-calendar"></i> Fecha Egreso Universidad: </label>

                                        <strong>{% if solicitudbecario.aniosolifinalizacionbecario %}{{ solicitudbecario.aniosolifinalizacionbecario|date('Y-m-d') }}{% endif %}</strong>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col col-md-3" align="left">
                                        <label for="form_paes"><i class="fa fa-list-alt"></i> Nota Paes: </label>
                                        {{ solicitudbecario.paes   }}

                                    </div>

                                    <div class="col col-md-3" align="left">
                                        <label for="form_matricula"><i class="fa fa-usd"></i> Monto Matricula: </label>
                                        ${{ solicitudbecario.montosolimatriculabecario   }}

                                    </div>

                                    <div class="col col-md-3" align="left">
                                        <label for="form_cuotaM"><i class="fa fa-usd"></i> Cuota Mensual: </label>
                                        ${{ solicitudbecario.cuotasolimensualbecario   }}

                                    </div>

                                    <div class="col col-md-3" align="left">
                                        <label for="form_duracion"><i class="fa fa-history"></i> Duracion Carrera: </label>
                                        {{ solicitudbecario.duracionsolicarrerabecario }} 

                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col col-md-3" align="left">
                                        <label for="form_otrasbecas"><i class="fa fa-handshake-o"></i> Posee otras becas</label>
                                        {{ solicitudbecario.otrasbecas }}

                                    </div> 

                                    <div class="col col-md-3" align="left">
                                        <label for="form_Motrasbecas"><i class="fa fa-usd"></i> Monto otras becas</label>
                                        ${{ solicitudbecario.montootrasbecas }}

                                    </div>

                                    <div class="col col-md-6" align="left">
                                        <label for="form_comprobante"><i class="fa fa-paperclip"></i> Comprobante: </label>
                                        <a href="{{ asset('images/profile/'~solicitudbecario.getComprobante() )  }}">Descargar Comprobante</a>

                                    </div>
                                </div>
                            </div><!-- /.tab-pane -->

                            <div class="tab-pane" id="datosFamiliares{{solicitudbecario.idsolibecario}}" style="width:90%; margin-left: 5%">
                                <h3>Datos Familiares</h3>
                                <hr>
                                <div class="row">

                                    <div class="col col-md-6" align="left">
                                        <label for="form_ingresos"><i class="fa fa-usd"></i> Ingresos Familiares</label>
                                        ${{ solicitudbecario.ingresossolifamiliabecario   }}

                                    </div>

                                    <div class="col col-md-6" align="left">
                                        <label for="form_miembros"><i class="fa fa-users"></i> Miembros familia: </label>
                                        {{ solicitudbecario.miembrossolifamiliabecario   }}

                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col col-md-6" align="left">
                                        <label for="form_hermanos"><i class="fa fa-users"></i> Cantidad de hermanos</label>
                                        {{ solicitudbecario.cantsolihermanosbecario   }}

                                    </div>

                                    <div class="col col-md-6" align="left">
                                        <label for="form_Temergencia"><i class="fa fa-phone"></i> Tel. Emergencia: </label>
                                        {{ solicitudbecario.telsoliemergenciabecario   }}

                                    </div>

                                </div>
                                <br>

                                <div class="row">

                                    <div class="col col-md-6" align="left">
                                        <label for="form_nompadre"><i class="fa fa-male"></i> Nombre del padre: </label>
                                        {{ solicitudbecario.nomsolipadrebecario   }}

                                    </div> 

                                    <div class="col col-md-6" align="left">
                                        <label for="form_nommadre"><i class="fa fa-female"></i> Nombre de la madre: </label>
                                        {{ solicitudbecario.nomsolimadrebecario   }}

                                    </div> 
                                </div>

                                <br>
                                <div class="row">

                                    <div class="col col-md-6" align="left">
                                        <label for="form_ocupacionp"><i class="fa fa-user-md"></i> Ocupacion del padre: </label>
                                        {{ solicitudbecario.ocupacionpadre   }}

                                    </div>


                                    <div class="col col-md-6" align="left">
                                        <label for="form_ocupacionm"><i class="fa fa-user-md"></i> Ocupacion de la madre: </label>
                                        {{ solicitudbecario.ocupacionmadre   }}

                                    </div>
                                </div>
                                <br>

                            </div><!-- /.tab-pane -->

                            {#<div class="tab-pane" id="change-password{{user.id}}">
                                <p class="text-aqua">Please click the link below to change your current password</p>
                                <div><a href="{{ path('fos_user_change_password'   }}" class="btn btn-default"><i class="fa fa-fw fa-lock"></i>Change Password</a></div>
                            </div>#}
                        </div>
                    </div><!-- /.tab-content -->
                    <br>
                </div><!-- /.nav-tabs-custom -->
            </div>

            <div class="modal-footer">
                {% if (app.user.hasRole('ROLE_ADMIN') or app.user.hasRole('ROLE_COORDINADOR'))  %}
                    <div class="row">
                        <form style="" action="{{path('solicitud_aprobacion',{'id':solicitudbecario.idsolibecario,'val':1})}}" method="POST"> 

                            <button type="submit" class="btn btn-success" >Aprobar</button>
                        </form></div>
                    <div style="float:right; margin-left: 1px"> 
                        <form action="{{path('solicitud_aprobacion',{'id':solicitudbecario.idsolibecario,'val':2})}}" method="POST"> 
                            <div class="modal fade" id="recha{{  solicitudbecario.idsolibecario }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div style="width:50%; margin-left: 25%;" class="modal-dialog">
                                    <div class="modal-content"  style="border-radius: 10px">
                                        <div class="modal-body">
                                            <textarea class="form-control" id="descripcion" name="descripcion" style="width:100%" placeholder="Observaciones del rechazo" name="descripcion"></textarea>
                                            <button type="submit" class="btn btn-success" style="margin-top:1%;widt:100%" >Guardar</button>
                                        </div>
                                    </div>
                                </div>   
                            </div> 

                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#recha{{ solicitudbecario.idsolibecario }}" >Rechazar</button>
                        </form>
                    </div>
                {% endif %}                
            </div>
        </div>
    </div>
</div>



