{% extends "layout/base-layout.html.twig" %}
{% block stylesheets%}
    {{parent()}}
    <style>
        nav > .nav.nav-tabs{

            border: none;
            color:#fff;
            background:grey;
            border-radius:0;

        }
        nav > div a.nav-item.nav-link,
        nav > div a.nav-item.nav-link.active
        {
            border: none;
            padding: 18px 25px;
            color:#fff;
            background:gray;
            border-radius:0;
        }

        nav > div a.nav-item.nav-link.active:after
        {
            content: "";
            position: relative;
            bottom: -60px;
            left: -10%;
            border: 15px solid transparent;
            border-top-color: gainsboro;
        }
        .tab-content{
            background: #fdfdfd;
            line-height: 25px;
            border: 1px solid #ddd;
            border-top: 5px solid gainsboro;
            border-bottom: 5px solid gainsboro;
            padding:30px 25px;
        }

        nav > div a.nav-item.nav-link:hover,
        nav > div a.nav-item.nav-link:focus
        {
            border: none;
            background: gainsboro;
            color:#fff;
            border-radius:0;
            transition:background 0.20s linear;
        }


    </style>
{% endblock stylesheets %}


{% block page_title %} Solicitud | {% endblock %}
{% block page_subtitle %}Registro De Solicitud {% endblock %}

{% block page_content %}

     <div  style="width:90%; margin-top: 5%; margin-left: 5%; background-color:white; border-radius:5px " class="panel panel-default">
            <div class="row">
                <div class="col col-md-12" align="center" >
                    <img style="width:80px;margin-top: 2%;" src="{{ asset('img/document.png') }}"></img>
                </div>
            </div>
            <div class="row">    
                <div class="col col-md-12 " align="center" style="margin-top:-15px">
                    <h2 class="col col-md-12" style="font-family: palatino header" >Registrar Solicitud</h2>
                    <h4 class="col col-md-12" style="color:grey; font-family: palatino body; margin-top: -3px;">Complete los campos requeridos:<span style="font-size: 25;color: red" >*</span></h4>
                </div>
            </div>    
    </div>

{{ form_start(form) }}

<div class="container tabs-wrap" style="width: 90%;  margin-bottom: 3%">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a role="tab" aria-expanded="true" aria-controls="datospersonales" href="#datospersonales" data-toggle="tab">Datos Personales</a>
    </li>
    <li>
      <a role="tab" aria-expanded="false" aria-controls="datosacademicos" href="#datosacademicos" data-toggle="tab">Datos Académicos</a>
    </li>
    <li>
      <a role="tab" aria-expanded="false" aria-controls="datosfamiliares" href="#datosfamiliares" data-toggle="tab">Datos Familiares</a>
    </li>
  </ul>

<div class="tab-content">

  <div class="tab-pane active" id="datospersonales" role="tabpanel" style="width:90%; margin-left: 5%">

  <div class="row">
                            <div class="col col-md-6"><h3>Datos Personales</h3></div>
                            </div>
                                <hr>
                            <div class="row">     

                                <div class="col col-md-4" align="left">
                                    <label for="form_documento">Documento<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.docsoliidentidadbecario) }}
                                    {{ form_errors(form.docsoliidentidadbecario) }}   
                                </div> 

                                <div class="col col-md-4" align="left">
                                    <label for="form_cdirecto">Teléfono<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.telsolipersonalbecario) }}
                                    {{ form_errors(form.telsolipersonalbecario) }}   
                                </div> 

                                <div class="col col-md-4" align="left">
                                    <label for="form_telefono">Otro Teléfono<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.telefonosolibecario) }}
                                    {{ form_errors(form.telefonosolibecario) }}   
                                </div> 
                            </div>
                            <br>
                            <div class="row" >

                                <div class="col col-md-4" align="left">
                                    <label for="form_edad">Fecha Nacimiento<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.fechaNacimiento) }}
                                    {{ form_errors(form.fechaNacimiento) }}   
                                </div>

                                <div class="col col-md-4" align="left">
                                    <label for="form_edad">Sexo<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.sexo) }}
                                    {{ form_errors(form.sexo) }}   
                                </div>

                                <div class="col col-md-4" align="left">
                                    <label for="form_trabajo">¿Posee Trabajo?</label>
                                    {{ form_widget(form.trabajosolibecario) }}
                                    {{ form_errors(form.trabajosolibecario) }}   
                                </div> 


                            </div>
                            <br>

                            <div class="row">  
                                <div class="col col-md-12" align="left">
                                    <label for="form_direccion">Dirección<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.direccionsolibecario) }}
                                    {{ form_errors(form.direccionsolibecario) }}   
                                </div> 
                            </div>
                                <br>
                            <div class="row">  
                                <div class="col col-md-12" align="left">
                                    <label for="form_antecedentes">Descripción Personal</label>
                                    {{ form_widget(form.antecedentes) }}
                                    {{ form_errors(form.antecedentes) }}   
                                </div> 
                            </div>
                            <br>
                            <div class="row">  
                                <div class="col col-md-12" align="left">
                                    <label for="form_religion">Religión</label>
                                    {{ form_widget(form.religion) }}
                                    {{ form_errors(form.religion) }}   
                                </div>
                      
                            </div>
                            <br>
                            <div class="row">  
                             <div class="col col-md-12" align="right">                            
                                <a class="btn btn-primary continue">Continuar</a>
                                <a href="{{ path('solicitudbecario_index') }}" class="btn btn-danger btn-xl">Cancelar</a>
                             </div>
                            </div>
                        
  </div>

  <div class="tab-pane" id="datosacademicos" role="tabpanel"  style="width:90%; margin-left: 5%">

  <h3>Datos Académicos</h3>
                            <hr>
                            <div class="row">  

                                <div class="col col-md-6" align="left">
                                    <label for="form_carrera">Carrera Universitaria<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.carrerasoliestudiarbecario) }}
                                    {{ form_errors(form.carrerasoliestudiarbecario) }}   
                                </div> 

                                <div class="col col-md-6" align="left">
                                    <label for="form_universidad">Universidad<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.universidadsolibecario) }}
                                    {{ form_errors(form.universidadsolibecario) }}   
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col col-md-6" align="left" id='datetimepicker1'>
                                    <label for="form_anioinicio">Fecha Estimada de Ingreso en la Universidad<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.aniosoliingresobecario) }}
                                    {{ form_errors(form.aniosoliingresobecario) }}   
                                </div>

                                <div class="col col-md-6" align="left" id='datetimepicker2'>
                                    <label for="form_aniofin">Fecha Estimada de Egreso en la Universidad<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.aniosolifinalizacionbecario) }}
                                    {{ form_errors(form.aniosolifinalizacionbecario) }}   
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col col-md-3" align="left">
                                    <label for="form_paes">Nota Paes<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.paes) }}
                                    {{ form_errors(form.paes) }}   
                                </div>

                                <div class="col col-md-3" align="left">
                                    <label for="form_matricula">Monto Matricula<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.montosolimatriculabecario) }}
                                    {{ form_errors(form.montosolimatriculabecario) }}   
                                </div>

                                <div class="col col-md-3" align="left">
                                    <label for="form_cuotaM">Cuota Mensual<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.cuotasolimensualbecario) }}
                                    {{ form_errors(form.cuotasolimensualbecario) }}   
                                </div>

                                <div class="col col-md-3" align="left">
                                    <label for="form_duracion">Duración de Carrera<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.duracionsolicarrerabecario,{'attr':{'placeholder':'Numero de años'}}) }}
                                    {{ form_errors(form.duracionsolicarrerabecario) }}   
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col col-md-3" align="left">
                                    <label for="form_otrasbecas">¿Posee Otras Becas?</label>
                                    {{ form_widget(form.otrasbecas,{'attr':{'onchange':'montoOB()'}}) }}
                                    {{ form_errors(form.otrasbecas) }}   
                                </div> 

                                <div class="col col-md-3" align="left">
                                    <label for="form_Motrasbecas">Monto de otras becas</label>
                                    {{ form_widget(form.montootrasbecas,{'attr':{'disabled':'true'}}) }}
                                    {{ form_errors(form.montootrasbecas) }}   
                                </div>

                                <div class="col col-md-6" align="left">
                                    <label for="form_comprobante">Comprobante<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.comprobante_file) }}
                                    {{ form_errors(form.comprobante_file) }}   
                                </div>
                            </div>

                            <br>
                            <div class="row">  
                             <div class="col col-md-12" align="right">                            
                                <a class="btn btn-primary back">Regresar</a>
                                <a class="btn btn-primary continue">Continuar</a>
                                <a href="{{ path('solicitudbecario_index') }}" class="btn btn-danger btn-xl">Cancelar</a>
                             </div>
                            </div>
  </div>

  <div class="tab-pane" id="datosfamiliares" role="tabpanel" style="width:90%; margin-left: 5%">

  <h3>Datos Familiares</h3>
                            <hr>
                            <div class="row">

                                <div class="col col-md-3" align="left">
                                    <label for="form_ingresos">Ingresos Familiares</label>
                                    {{ form_widget(form.ingresossolifamiliabecario) }}
                                    {{ form_errors(form.ingresossolifamiliabecario) }}   
                                </div>

                                <div class="col col-md-3" align="left">
                                    <label for="form_miembros">Miembros Familiares<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.miembrossolifamiliabecario,{'attr':{'placeholder':'Número de miembros'}}) }}
                                    {{ form_errors(form.miembrossolifamiliabecario) }}   
                                </div>

                                <div class="col col-md-3" align="left">
                                    <label for="form_hermanos">Cantidad de Hermanos</label>
                                    {{ form_widget(form.cantsolihermanosbecario) }}
                                    {{ form_errors(form.cantsolihermanosbecario) }}   
                                </div>

                                <div class="col col-md-3" align="left">
                                    <label for="form_Temergencia">Tel. Emergencia<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.telsoliemergenciabecario) }}
                                    {{ form_errors(form.telsoliemergenciabecario) }}   
                                </div>

                            </div>
                            <br>

                            <div class="row">

                                <div class="col col-md-6" align="left">
                                    <label for="form_nompadre">Nombre del Padre<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.nomsolipadrebecario) }}
                                    {{ form_errors(form.nomsolipadrebecario) }}   
                                </div> 

                                <div class="col col-md-6" align="left">
                                    <label for="form_nommadre">Nombre de la Madre<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.nomsolimadrebecario) }}
                                    {{ form_errors(form.nomsolimadrebecario) }}   
                                </div> 
                            </div>

                            <br>
                            <div class="row">

                                <div class="col col-md-12" align="left">
                                    <label for="form_ocupacionp">Ocupación del Padre<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.ocupacionpadre) }}
                                    {{ form_errors(form.ocupacionpadre) }}   
                                </div>
                            </div>
                            <br>
                            <div class="row">

                                <div class="col col-md-12" align="left">
                                    <label for="form_ocupacionm">Ocupación de la Madre<span style="font-size: 25;color: red" >*</span></label>
                                    {{ form_widget(form.ocupacionmadre) }}
                                    {{ form_errors(form.ocupacionmadre) }}   
                                </div>
                            </div>
                           <br>
                            <div class="row">  
                             <div class="col col-md-12" align="right">                            
                                <a class="btn btn-primary back">Regresar</a>
                                <a href="{{ path('solicitudbecario_index') }}" class="btn btn-danger btn-xl">Cancelar</a>
                                <input  class="btn btn-success btn-xl" type="submit"  value="Guardar" />
                             </div>
                            </div>

                        </div>
  </div>
</div></div>
{{ form_end(form) }}

{% endblock %}
{%block javascripts_inline %}
    <script>
        {{parent()}}
            function montoOB() {
                var isChecked = document.getElementById('appbundle_solicitudbecario_otrasbecas').checked;
                if (isChecked) {
                    document.getElementById('appbundle_solicitudbecario_montootrasbecas').removeAttribute('disabled');
                } else {

                    document.getElementById('appbundle_solicitudbecario_montootrasbecas').setAttribute('disabled', true);
                }
            }
            ;

        $('.continue').click(function(){
              $('.nav-tabs > .active').next('li').find('a').trigger('click');
        });
        $('.back').click(function(){
          $('.nav-tabs > .active').prev('li').find('a').trigger('click');
         });

         


    </script>

{% endblock %}    
