<div class="modal fade" id="VerSoli{{ solicitudbecario.idsolibecario }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width:70%; margin-left: 15%" class="modal-dialog">
        <div class="modal-content" style="border-radius: 40px">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">	
                    <h3 class="col col-md-11 col-md-offset-1" align="center"><strong>Solicitud Becario </strong></h3>
                </div>
            </div>
            <div class="modal-body" >

                <div style="background-color: lightgray;" > 
                    <br>
                    <div class="nav-tabs-custom" style="width:95%; margin-left: 2.5%; ">
                        <ul class="nav nav-tabs">
                            <li class="active"><a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#datosPersonales{{solicitudbecario.idsolibecario}}" role="tab" aria-controls="nav-profile" aria-selected="false">Datos Personales</a></li>
                            <li><a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#datosAcademicos{{solicitudbecario.idsolibecario}}" role="tab" aria-controls="nav-profile" aria-selected="false">Datos Academicos</a></li>
                            <li><a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#datosFamiliares{{solicitudbecario.idsolibecario}}" role="tab" aria-controls="nav-contact" aria-selected="false">Datos Familiares</a></li>
                        </ul>
                        <div class="tab-content">


                            <div class="active tab-pane" id="datosPersonales{{solicitudbecario.idsolibecario}}" style="width:90%; margin-left: 5%">
                                <div class="row">
                                    <div class="col col-md-6"><h3>Datos Personales</h3></div>
                                    <div class="col col-md-6">
                                        <p align="right"><strong>Aspirante:</strong><u> {{app.user.getFirstName()  ~" "~app.user.getLastName()  }}</u></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">     

                                    <div class="col col-md-6" align="left">
                                        <label for="form_documento"><i class="fa fa-id-card"></i> Numero de documento: </label>
                                        {{ solicitudbecario.docsoliidentidadbecario   }}

                                    </div> 

                                    <div class="col col-md-6" align="left">
                                        <label for="form_cdirecto"> <i class="fa fa-phone"></i> Numero de contacto: </label>
                                        {{ solicitudbecario.telsolipersonalbecario   }}

                                    </div> 

                                    <div class="col col-md-6" align="left">
                                        <label for="form_telefono"><i class="fa fa-phone"></i> Otro Contacto: </label>
                                        {{ solicitudbecario.telefonosolibecario   }}

                                    </div> 
                                    <br>

                                    <div class="col col-md-6" align="left">
                                        <label for="form_edad"><i class="fa fa-calendar"></i> Fecha Nacimiento: </label>
                                        <strong>{% if solicitudbecario.fechaNacimiento %}{{ solicitudbecario.fechaNacimiento|date('Y-m-d') }}{% endif %}</strong>

                                    </div>

                                    <div class="col col-md-6" align="left">
                                        <label for="form_edad"><i class="fa fa-venus-mars"></i> Sexo: </label>
                                        {{ solicitudbecario.sexo   }}

                                    </div>

                                    <div class="col col-md-6" align="LEFT">
                                        <label for="form_trabajo"><i class="fa fa-briefcase"></i> Posee trabajo</label>
                                        {% if solicitudbecario.trabajosolibecario==1  %}SI{%else%}NO{%endif%}

                                    </div> 

                                </div>
                                <br>

                                <div class="row">  
                                    <div class="col col-md-6" align="left">
                                        <label for="form_religion"><i class="fa fa-child"></i> Religion que pertenece:</label>
                                        {{ solicitudbecario.religion   }}

                                    </div>
                                    <div class="col col-md-6" align="left">
                                        <label for="form_antecedentes"><i class="fa fa-user"></i> Descripción Personal:</label>
                                        {{ solicitudbecario.antecedentes   }}

                                    </div>   

                                </div>
                                        <br>
                                <div class="row">  
                                    <div class="col col-md-12" align="left">
                                        <label for="form_direccion"><i class="fa fa-street-view"></i> Dirección: </label>
                                        {{ solicitudbecario.direccionsolibecario   }}

                                    </div> 

                                </div>
                                <br>
                            </div><!-- /.tab-pane -->

                            <div class="tab-pane" id="datosAcademicos{{solicitudbecario.idsolibecario}}" style="width:90%; margin-left: 5%">
                                <h3>Datos Academicos</h3>
                                <hr>
                                <div class="row">  

                                    <div class="col col-md-6" align="left">
                                        <label for="form_carrera">Carrera: </label>
                                        {{ solicitudbecario.carrerasoliestudiarbecario   }}

                                    </div> 

                                    <div class="col col-md-6" align="left">
                                        <label for="form_universidad">Universidad: </label>
                                        {{ solicitudbecario.universidadsolibecario   }}

                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col col-md-6" align="left" id='datetimepicker1'>
                                        <label for="form_anioinicio">Fecha Ingreso Universidad: </label>
                                        <strong>{% if solicitudbecario.aniosoliingresobecario %}{{ solicitudbecario.aniosoliingresobecario|date('Y-m-d') }}{% endif %}</strong>

                                    </div>

                                    <div class="col col-md-6" align="left" id='datetimepicker2'>
                                        <label for="form_aniofin">Fecha Egreso Universidad: </label>

                                        <strong>{% if solicitudbecario.aniosolifinalizacionbecario %}{{ solicitudbecario.aniosolifinalizacionbecario|date('Y-m-d') }}{% endif %}</strong>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col col-md-3" align="left">
                                        <label for="form_paes">Nota Paes: </label>
                                        {{ solicitudbecario.paes   }}

                                    </div>

                                    <div class="col col-md-3" align="left">
                                        <label for="form_matricula">Monto Matricula: </label>
                                        {{ solicitudbecario.montosolimatriculabecario   }}

                                    </div>

                                    <div class="col col-md-3" align="left">
                                        <label for="form_cuotaM">Cuota Mensual: </label>
                                        {{ solicitudbecario.cuotasolimensualbecario   }}

                                    </div>

                                    <div class="col col-md-3" align="left">
                                        <label for="form_duracion">Duracion Carrera: </label>
                                        {{ solicitudbecario.duracionsolicarrerabecario }} 

                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col col-md-3" align="left">
                                        <label for="form_otrasbecas">Posee otras becas</label>
                                        {{ solicitudbecario.otrasbecas }}

                                    </div> 

                                    <div class="col col-md-3" align="left">
                                        <label for="form_Motrasbecas">Monto de otras becas</label>
                                        {{ solicitudbecario.montootrasbecas }}

                                    </div>

                                    <div class="col col-md-6" align="left">
                                        <label for="form_comprobante">Comprobante: </label>
                                        <a href="{{ asset('images/profile/'~solicitudbecario.getComprobante() )  }}">Descargar Comprobante</a>

                                    </div>
                                </div>
                            </div><!-- /.tab-pane -->

                            <div class="tab-pane" id="datosFamiliares{{solicitudbecario.idsolibecario}}" style="width:90%; margin-left: 5%">
                                <h3>Datos Famiiares</h3>
                                <hr>
                                <div class="row">

                                    <div class="col col-md-3" align="left">
                                        <label for="form_ingresos">Ingresos Familiares</label>
                                        {{ solicitudbecario.ingresossolifamiliabecario   }}

                                    </div>

                                    <div class="col col-md-3" align="left">
                                        <label for="form_miembros">Miembros familiares: </label>
                                        {{ solicitudbecario.miembrossolifamiliabecario   }}

                                    </div>

                                    <div class="col col-md-3" align="left">
                                        <label for="form_hermanos">Cantidad de hermanos</label>
                                        {{ solicitudbecario.cantsolihermanosbecario   }}

                                    </div>

                                    <div class="col col-md-3" align="left">
                                        <label for="form_Temergencia">Tel. Emergencia: </label>
                                        {{ solicitudbecario.telsoliemergenciabecario   }}

                                    </div>

                                </div>
                                <br>

                                <div class="row">

                                    <div class="col col-md-6" align="left">
                                        <label for="form_nompadre">Nombre del padre: </label>
                                        {{ solicitudbecario.nomsolipadrebecario   }}

                                    </div> 

                                    <div class="col col-md-6" align="left">
                                        <label for="form_nommadre">Nombre de la madre: </label>
                                        {{ solicitudbecario.nomsolimadrebecario   }}

                                    </div> 
                                </div>

                                <br>
                                <div class="row">

                                    <div class="col col-md-12" align="left">
                                        <label for="form_ocupacionp">Ocupacion del padre: </label>
                                        {{ solicitudbecario.ocupacionpadre   }}

                                    </div>
                                </div>
                                <br>
                                <div class="row">

                                    <div class="col col-md-12" align="left">
                                        <label for="form_ocupacionm">Ocupacion de la madre: </label>
                                        {{ solicitudbecario.ocupacionmadre   }}

                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col col-md-12" align="right">
                                        <a href="{{ path('solicitudbecario_index')   }}" class="btn btn-primary btn-xl">Cancelar</a>
                                        <input  class="btn btn-success btn-xl" type="submit"  value="Guardar" />


                                    </div>
                                </div>


                            </div><!-- /.tab-pane -->

                            {#<div class="tab-pane" id="change-password{{user.id}}">
                                <p class="text-aqua">Please click the link below to change your current password</p>
                                <div><a href="{{ path('fos_user_change_password'   }}" class="btn btn-default"><i class="fa fa-fw fa-lock"></i>Change Password</a></div>
                            </div>#}
                        </div>
                    </div><!-- /.tab-content -->
                    <br>
                </div><!-- /.nav-tabs-custom -->
            </div>
        </div>
    </div>
</div>



