<div class="modal fade" id="miventanadelete{{ tipocuenta.idtipocuenta }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 40px">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 align="center"><strong>¿Desea eliminar el Tipo de Cuenta?</strong></h3>
            </div>
            <div class="modal-body">

                <div class="list-group">
                    <!--modal-->


                    <div class="row" style="margin-left:5%" align="left">
                        <!--modal-->
                        <div class="col col-md-7">

                            <h4><i class="fa fa-font"></i>  Nombre</h4>
                            <p class="form-group"><strong>{{  tipocuenta.Nombrecuenta }}</strong></p>
                            <hr>
                            <h4><i class="fa fa-list"></i>  Descripción</h4>
                            <p class="form-group"><strong>{{ tipocuenta.descripcion }}</strong></p>
                            <hr>
                            <h4><i class="fa fa-check-square"></i>  Estado</h4>
                            <p class="form-group"><strong>{% if tipocuenta.estadotipocuenta==1  %} Activa {% else %} Inactiva {% endif %}</strong></p>
                        </div>
                        <div class="col col-md-5">

                            <img style="width:75%;margin-top: 10%;margin-bottom: 2%" src="{{ asset('img/delete.png') }}"></img>
                        </div>
                    </div>



                    <div class="modal-footer">
                        <div style="float:right">
                            {{ form_start(delete_form, {'action': path('tipocuenta_delete', {'id': tipocuenta.idtipocuenta}), 'Method': 'POST' }) }}
                            <input type="submit" class="btn btn-danger" type="button" value="Eliminar">
                            {{ form_end(delete_form) }}
                        </div>

                            <button type="button" class="btn btn-primary" style="margin-right: 1px" data-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
