<div class="modal fade" id="miventana{{ tipocuenta.idtipocuenta }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 align="Center">Información Tipo Cuenta</h4>
				</div>
				<div class="modal-body">

  <div class="list-group">
    <!--modal-->

<div class="list-group">
<a href="#" class="list-group-item">ID</a>
<p class="list-group-item">{{  tipocuenta.idtipocuenta }}</p>
<a href="#" class="list-group-item">Tipo Cuenta</a>
<p class="list-group-item">{{  tipocuenta.Nombrecuenta }}</p>
<a href="#" class="list-group-item">Descripcion</a>
<p class="list-group-item">{{  tipocuenta.descripcion }}</p>
<a href="#" class="list-group-item">Estado</a>
<p class="list-group-item">{% if tipocuenta.estadotipocuenta==1  %} Activa {% else %} Inactiva {% endif %}</p>
</div>
</div>


<div class="modal-footer">
<div style="float:left">
		{{ form_start(delete_form, {'action': path('tipocuenta_delete', {'id': tipocuenta.idtipocuenta}), 'Method': 'POST' }) }}
		<input type="submit" class="btn btn-danger" type="button" value="Delete">
		{{ form_end(delete_form) }}

</div>
<button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
</div>
</div>
</div>
</div>
</div>
