{% extends "layout/base-layout.html.twig" %}

{% block page_title %}Catálogo{% endblock %}
{% block page_subtitle %}Tipo Cuenta{% endblock %}

{% block page_content %}

    <div class="box box-primary">
        <div style="width:90%; margin-left:5%; margin-top: 2% ">

            <div align="left">
                <a style="font-size: 15px" href="{{ path('tipocuenta_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i> Tipo Cuenta</a>
            </div>

            <br> </br>

            <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
                <thead class="thead-light">
                    <tr>
                        <th><center>Tipo De Cuenta</center></th>
                <th><center>Descripcion</center></th>
                <th><center>Estado</center></th>
                <th><center>Accion</center></th>
                </tr>
                </thead>
                <tbody>

                    {% for tipocuentum in tipocuentas %}
                        <tr data-id="{{ tipocuentum.idtipocuenta }}">
                            <td>{{ tipocuentum.Nombrecuenta }}</td>
                            <td>{{ tipocuentum.descripcion }}</td>
                            <td><center>{% if tipocuentum.estadotipocuenta %}Activo{% else %}Inactivo{% endif %}</center></td>
                    <td>
                    <center>
                        <div class="row">
                        <div align="center" class="col col-sm-4"><button class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#miventanadelete{{ tipocuentum.idtipocuenta }}"><i class="fa fa-trash" style="font-size: 20px; color: crimson"></i></button>
                                {{ render(controller('AppBundle:Tipocuenta:showdelete', { 'id' : tipocuentum.idtipocuenta } )) }}
                        </div>

                        <div align="center" class="col col-sm-4" >
                            <a href="{{ path('tipocuenta_edit',{ 'id' : tipocuentum.idtipocuenta }) }}" style="background-color: transparent; border: none;"><i class="fa fa-edit" style="font-size: 20px; color: limegreen"></i></a>
                        </div>
                        
                        <div align="center" class="col col-sm-4"><button class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#miventana{{ tipocuentum.idtipocuenta }}"><i class="fa fa-eye" style="font-size: 20px; color: deepskyblue"></i></button>
                                {{ render(controller('AppBundle:Tipocuenta:show', { 'id' : tipocuentum.idtipocuenta } )) }}
                        </div>
                        </div>
                    </center>
                    </td>
                    </tr>

            </div>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
