<div class="modal fade" id="VerTransac{{ tipotransaccion.idtipotransaccion }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 align="Center">Información Tipo Cuenta</h4>
				</div>
				<div class="modal-body">

  <div class="list-group">
    <!--modal-->

    <div class="list-group">
    <a href="#" class="list-group-item">ID</a>
    <p class="list-group-item">{{  tipotransaccion.idtipotransaccion }}</p>

    <a href="#" class="list-group-item">Transaccion</a>
    <p class="list-group-item">{{  tipotransaccion.nombretipotransac }}</p>

    <div class="list-group">
    <a href="#" class="list-group-item">Estado</a>
    <p class="list-group-item">{% if tipotransaccion.estadotipotransac %}Yes{% else %}No{% endif %}</p>
    </div>
    </div>

                <div class="modal-footer">
                <div style="float:left">
                		{{ form_start(delete_form) }}
                		<input type="submit" class="btn btn-danger" value="Delete">
                		{{ form_end(delete_form) }}
                </div>
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
                </div>
                </div>
                </div>
                </div>
