{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Contenido | {% endblock %}
{% block page_subtitle %}Registrar {% endblock %}

{% block page_content %}

    <div class="box box-primary" style="width: 100%">

        <div  style="width:90%; margin-top: 2%; background-color:#F3F3F3; margin-left: 5%" class="panel panel-default"> 

            <div class="col col-md-12" align="center" > 
                <img style="width:80px;margin-top: 2%;margin-bottom: 2%" src="{{ asset('img/icons/blog.png') }}"></img>
            </div>   
            <div class="col col-md-12 " align="center" style="margin-top:-15px"> 
                <h2 class="col col-md-12" style="font-family: palatino header" >Registrar Contenido</h2>
                 <h5 class="col col-md-12" style="color:grey; font-family: palatino body;margin-top: -4px">Complete los campos requeridos: <span style="font-size: 25;color: red" >*</span></h5>

            </div>
            <hr>
            <div  class="container"  style="width: 75%; margin-top: 3%; margin-bottom: 3%">

                {{ form_start(form) }}

                <div class="row">
                    <div class="col-xs-6">
                        <label for="form_Titulo">Título<span style="font-size: 25;color: red" >*</span></label>
                        {{ form_widget(form.titulo) }}
                        {{ form_errors(form.titulo) }}
                    </div>

                    <div class="col-xs-6">
                        <label for="form_Subtitulo">Subtítulo</label>
                        {{ form_widget(form.subtitulo) }}
                        {{ form_errors(form.subtitulo) }}
                    </div>
                </div>
<br>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="form_Descripcion">Descripción<span style="font-size: 25;color: red" >*</span></label>
                        {{ form_widget(form.descripcioncontenido) }}
                        {{ form_errors(form.descripcioncontenido) }}
                    </div>
                </div>
                    <br>
                <div class="row">
                    <div class="col-md-6" id='datetimepicker1'>
                        <label for="form_FechaContenido">Fecha</label>
                        {{ form_widget(form.fechacontenido) }}
                        {{ form_errors(form.fechacontenido) }}
                    </div>  
     
                    <div class="col-md-6">
                        <label for="form_Contenido">Adjuntar Imagen</label>
                        {{ form_widget(form.contenido_picture_file) }}
                        {{ form_errors(form.contenido_picture_file) }}       
                    </div>
                </div>
                    <br>
                <div class="row">
                    <div class="col col-md-12" align="left"> 
                        <strong>Publicar Contenido</strong>
                        {{ form_widget(form.estadocontenido) }}
                        {{ form_errors(form.estadocontenido) }}   
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col col-md-10" align="right">
                    <a href="{{ absolute_url(asset('')) }}publicacioncontenido" class="btn btn-danger btn-xl">Cancelar</a>
                    <input  class="btn btn-success btn-xl" type="submit"  value="Guardar" />


                </div>
            </div>

            {{ form_end(form) }}
            <br>
            <br>
        </div>
        </br>
    </div>
    <br>
    <br>
</div>


{% endblock %}
