{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Tipo de Movimiento {% endblock %}

{% block page_content %}

    <div class="box box-primary">
        <div style="width:90%; margin-left:5%; margin-top: 2% ">

            <div align="left">
                <a style="font-size: 15px" href="{{ path('tipomovimiento_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i> Tipo de Movimiento</a>
            </div>
            <br> <br>

            <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
                <thead class="thead-light">
                <tr>
                <th width="18%">Movimiento</th>
                <th width="37%">Descripción</th>
                <th width="15%">Clasificación</th>
                <th width="15%">Estado</th>
                <th width="15%"><center>Opciones</center></th>
                </tr>
                </thead>
                <tbody>
                    {% for tipomovimiento in tipomovimientos %}
                    <tr>
                        <td align="left">{{ tipomovimiento.nombretipo }}</td>
                        <td align="left">{{ tipomovimiento.descripciontipomov }}</td>
                        <td><left>{% if tipomovimiento.clasificacion %}Ingreso{% else %}Gasto{% endif %}</left></td>
                    <td><left>{% if tipomovimiento.estadotipomov %}Activo{% else %}Inactivo{% endif %}</left></td>
                    <td>
                    <center>
                    <div class="btn-group" style="width:100%">

                        <button class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#miventana{{ tipomovimiento.idtipomov}}"><i class="fa fa-eye" style="font-size: 20px; color: deepskyblue"></i></button>
                                    {{ render(controller('AppBundle:Tipomovimiento:show', { 'id' : tipomovimiento.idtipomov } )) }}

                           
                        <a href="{{ path('tipomovimiento_edit',{ 'id' : tipomovimiento.idtipomov }) }}" style="background-color: transparent; border: none;"><i class="fa fa-edit" style="font-size: 20px; color: limegreen"></i></a>

                        <button class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#miventanadelete{{ tipomovimiento.idtipomov }}"><i class="fa fa-trash" style="font-size: 20px; color: crimson"></i></button>
                                    {{ render(controller('AppBundle:Tipomovimiento:showdelete', { 'id' : tipomovimiento.idtipomov } )) }}
                             

                        </div>
                    </center>
                    </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
