{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Movimiento Inventario | {% endblock %}
{% block page_subtitle %}Lista De Movimientos Inventario {% endblock %}

{% block page_content %}

<div class="box box-primary">
<div style="width:90%; margin-left:5%; margin-top: 2% ">

<div align="left">
     <a style="font-size: 15px" href="{{ path('movimientoinventario_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i> Registrar Nuevo Movimiento</a>
</div>
<br> </br>

        <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
            <thead class="thead-light">
            <tr>
                <th>Movimiento</th>
                <th>Becario</th>
                <th>Articulo</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movimientoinventario in movimientoinventarios %}
            <tr>
                <td>{{ movimientoinventario.nombremovinv }}</td>
                <td>{{ movimientoinventario.idusuario.firstName }}</td>
                <td>{{ movimientoinventario.idinventario }}</td>
                <td>{% if movimientoinventario.estadomovinv==1 %}Concluido{% else %}Pendiente{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('movimientoinventario_show', { 'id': movimientoinventario.idmovinv }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('movimientoinventario_edit', { 'id': movimientoinventario.idmovinv }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
       {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
