{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets%}
    {{parent()}}
    <style>
        nav > .nav.nav-tabs{

            border: none;
            color:#fff;
            background:#272e38;
            border-radius:0;

        }
        nav > div a.nav-item.nav-link,
        nav > div a.nav-item.nav-link.active
        {
            border: none;
            padding: 18px 25px;
            color:#fff;
            background:#272e38;
            border-radius:0;
        }

        nav > div a.nav-item.nav-link.active:after
        {
            content: "";
            position: relative;
            bottom: -60px;
            left: -10%;
            border: 15px solid transparent;
            border-top-color: #00dbff ;
        }
        .tab-content{
            background: #fdfdfd;
            line-height: 25px;
            border: 1px solid #ddd;
            border-top: 5px solid #00adba;
            border-bottom: 5px solid #00dbff;
            padding:30px 25px;
        }

        nav > div a.nav-item.nav-link:hover,
        nav > div a.nav-item.nav-link:focus
        {
            border: none;
            background: #00adba;
            color:#fff;
            border-radius:0;
            transition:background 0.20s linear;
        }

    </style>
{% endblock %}


{% block body %}
    <div class="container" style="font-family: Palatino Header !important;">

        <div style="width:90%; margin-left: 5%"> 
            <h1 class="mt-4 mb-3">ESSOC
                <small>Contactos</small>
            </h1>   
            <hr>
        </div>
        <div class="row">

            <div class='col col-md-4' align="center" >
                <img src="{{asset('img/ubicacion.png')}}" style="width:150px"></img>
                <br><br>
                La cede en El Salvador se encuentra ubicada en el Complejo Educativo Catolico Santo Domingo de Chiltiupan, departamento de La Libertad.<br>

            </div>

            <div class='col col-md-4' align="center">
                <img src="{{asset('img/telefono.png')}}" style="width:150px;"></img>
                <br>
                <br>
                Telefono: 2233-5821
            </div>

            <div class='col col-md-4' align="center">
                <img src="{{asset('img/email.png')}}" style="width:150px;"><br><br>
                brad.Champagne@uhhospitals.org<br>
                jbowers@stdominicchurch.net
            </div>

        </div>
        <div class="row" align="center">
            <div class="col col-md-12">
                <a target="" href='https://www.google.com/maps/place/Colegio+Santo+Domingo/@13.591808,-89.4682225,17.7z/data=!4m5!3m4!1s0x0:0xcec12099bc93ab4f!8m2!3d13.5922563!4d-89.4672536'> 
                    <img target='_blank'  src="{{asset('img/maps.jpg')}}" style="border-radius: 10px;margin-top:5%; margin-bottom: 5%; width: 100%;">
                </a>
            </div> 
        </div>
      
        <div class="row">
            <div align="center" class="col col-md-12"><img  src="{{asset('bundles/app/images/logo.png')}}"></img></div>
        </div>
        <br>
    </div>

{% endblock %}
