{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets%}
    {{parent()}}
    <style>
        nav > .nav.nav-tabs{

            border: none;
            color:#fff;
            background:#272e38;
            border-radius:0;

        }
        nav > div a.nav-item.nav-link,
        nav > div a.nav-item.nav-link.active
        {
            border: none;
            padding: 18px 25px;
            color:#fff;
            background:#272e38;
            border-radius:0;
        }

        nav > div a.nav-item.nav-link.active:after
        {
            content: "";
            position: relative;
            bottom: -60px;
            left: -10%;
            border: 15px solid transparent;
            border-top-color: #00dbff ;
        }
        .tab-content{
            background: #fdfdfd;
            line-height: 25px;
            border: 1px solid #ddd;
            border-top: 5px solid #00adba;
            border-bottom: 5px solid #00dbff;
            padding:30px 25px;
        }

        nav > div a.nav-item.nav-link:hover,
        nav > div a.nav-item.nav-link:focus
        {
            border: none;
            background: #00adba;
            color:#fff;
            border-radius:0;
            transition:background 0.20s linear;
        }

    </style>
{% endblock stylesheets%}

{% block body %}
    <div class="container" style="font-family: Palatino Header !important;">
        <div style="width:90%; margin-left: 5%"> 
            <h1 class="mt-4 mb-3">ESSOC
                <small>Nuestra Historia</small>
            </h1>   
            <hr>
            <div class="list-group">
                <!--modal-->

                {% trans_default_domain 'FOSUserBundle' %}

                <div class="row">
                    <div class="col-md-5">

                        <!-- Profile Image -->
                        <div class="panel panel-primary">

                            <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox" >
                                    <!-- Slide One - Set the background image for this slide in the line below -->
                                    <div class="carousel-item active" style="background-image: url({{ asset('img/slide05.jpg') }})">
                                        <div class="carousel-caption d-none d-md-block">
                                            <p>Educational Scholarships For Students Of Chiltiupan</p>
                                        </div>
                                    </div>
                                    <!-- Slide Two - Set the background image for this slide in the line below -->
                                    <div class="carousel-item" style="background-image: url({{ asset('img/slide06.jpg') }})">
                                        <div class="carousel-caption d-none d-md-block">
                                            <p>Educational Scholarships For Students Of Chiltiupan</p>
                                        </div>
                                    </div>
                                    <!-- Slide Three - Set the background image for this slide in the line below -->
                                    <div class="carousel-item" style="background-image: url({{ asset('img/slide07.jpg') }})">
                                        <div class="carousel-caption d-none d-md-block">
                                            <p>Educational Scholarships For Students Of Chiltiupan</p>
                                        </div>
                                    </div>

                                    <!-- Slide Three - Set the background image for this slide in the line below -->
                                    <div class="carousel-item" style="background-image: url({{ asset('img/slide08.jpg') }})">
                                        <div class="carousel-caption d-none d-md-block">
                                            <p>Educational Scholarships For Students Of Chiltiupan</p>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div><!-- /.box -->
                        <div align="center"><img  src="{{asset('bundles/app/images/logo.png')}}" style="width:150px; margin-top: 3%;"></img></div>

                    </div><!-- /.col -->


                    <div class="col-md-7">
                        <nav > 
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#2005" role="tab" aria-controls="nav-home" aria-selected="true" >2005</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#2008" role="tab" aria-controls="nav-profile" aria-selected="false">2008</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#2013" role="tab" aria-controls="nav-profile" aria-selected="false">2013</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#2014" role="tab" aria-controls="nav-contact" aria-selected="false">2014</a>
                                <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#Actualmente" role="tab" aria-controls="nav-about" aria-selected="false">Actualmente</a>
                                {#                                    <li><a href="#change-password{{user.id}}" data-toggle="tab">Change Password</a></li>
                                #}      
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" >
                                    <div style="width:90%; margin-left:5%" class="tab-pane fade show active" id="2005" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <h3>Inicio Del Proyecto</h3>
                                        <hr>
                                        <p style="text-align: justify; color: grey">El programa de becas inici&oacute; en el a&ntilde;o 2005, con la ayuda del sacerdote Robert Reidy, en un principio eran menos de 5 estudiantes los beneficiados, los recursos eran escasos y la demanda de estudiantes graduados de bachillerato era muy grande. Con la misi&oacute;n de cambiar y ayudar a muchos j&oacute;venes del municipio de Chiltiup&aacute;n, el Sacerdote, Robert Reidy se ve en la necesidad de buscar ayuda en la Parroquia Santo Domingo de Cleveland Ohio y recibe respuestas positivas, delegando a Marie Terell, mejor conocida como hermana Rosa a trabajar en este proyecto y el grupo de becarios sube a m&aacute;s de 15 becarios.</p>
                                        <p style="text-align: justify; color: grey">El Programa de Becas Santo Domingo de Chiltiup&aacute;n fue el primer nombre que recibi&oacute; el grupo de los primeros estudiantes que pasaron a formar parte del grupo de beneficiados econ&oacute;micamente para asistir a diversas universidades y estudiar la carrera que deseaban; recientemente, al grupo de becados se le modific&oacute; el nombre a&nbsp; Becas Educacionales para Estudiantes de Chiltiup&aacute;n.</p>

                                    </div><!-- /.tab-pane -->

                                    <div style="width:90%; margin-left:5%" class="tab-pane fade" id="2008" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <h3>Primeros Graduados</h3>
                                        <hr>
                                        <p style="text-align: justify; color: grey">En el a&ntilde;o 2008 se empieza a ver la primera generaci&oacute;n de j&oacute;venes graduados, debido a que los primeros estudiantes optaron por educarse como profesionales de educaci&oacute;n, es decir profesorados en educaci&oacute;n b&aacute;sica, estudio superior que tiene una duraci&oacute;n de tres a&ntilde;os y medio, dependiendo de la tesis o el trabajo de graduaci&oacute;n.</p>
                                        <p style="text-align: justify; color: grey">Cabe mencionar que la oportunidad de poder ingresar al grupo de becados dependi&oacute; por muchos a&ntilde;os del funcionamiento del proyecto ya que este se basaba en que en la medida en que un joven se iba graduando de la universidad &nbsp;otro solicitaba unirse al grupo por medio de una carta dirigida a la Hermana Rosa, exponiendo la raz&oacute;n de su petici&oacute;n, el anhelo de estudiar, qu&eacute; estudiar y las limitaciones que ten&iacute;an para no poder pagar su estudio superior.</p>
                                        <p style="text-align: justify; color: grey">Con el tiempo y sobre todo gracias a las gestiones de las personas involucradas ya en el Proyecto, surgieron m&aacute;s personas voluntarias e interesadas en apadrinar a j&oacute;venes de Chiltiup&aacute;n brind&aacute;ndoles una beca para que contin&uacute;en sus estudios universitarios. Por lo anterior, el grupo comienza a crecer, beneficiando a j&oacute;venes del &aacute;rea urbana y sus alrededores, asimismo, agregando a uno de los cantones del municipio llamado Julupe, ya que de este tambi&eacute;n salen graduados de bachillerato.</p>

                                    </div>

                                    <div style="width:90%; margin-left:5%" class="tab-pane fade" id="2013" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <h3>Primera Administracion y Patrocinadores</h3>
                                        <hr>
                                        <p style="text-align: justify; color: grey">Desde el 2005 al 2013, la Hermana Rosa era la encargada, sin embargo ten&iacute;a un grupo de j&oacute;venes que participaban en la Directiva del programa, el cual se encargaba de organizar las reuniones, las participaciones de los becarios en las respectivas misas dominicales y diversos eventos que se realizaban en conjunto con la Iglesia Santo Domingo. As&iacute; tambi&eacute;n, con el tiempo se realizaron fiestas de cumplea&ntilde;os de la Hermana Rosa y de los cumplea&ntilde;eros becarios, actividades en beneficio de la comunidad, cenas navide&ntilde;as y entregas de canastas con granos b&aacute;sicos a personas adultas con necesidades.</p>
                                        <p style="text-align: justify; color: grey">El municipio era visitado por grupos de personas provenientes de Estados Unidos, muchos de ellos patrocinadores de becas, y con la finalidad de involucrarse en diversas actividades con los j&oacute;venes universitarios y dem&aacute;s actividades de la parroquia; el compartir con los habitantes de Chiltiup&aacute;n les despertaba el inter&eacute;s por ayudar a&uacute;n m&aacute;s econ&oacute;micamente, claro ejemplo de ello es la familia Musca quien ha sido uno de los mayores pilares del grupo de becados, <u>pues han apadrinado a m&aacute;s de 20 j&oacute;venes; </u>otro ejemplo es el de el Doctor Brad Champagne y su esposa Cristina Champagne, quienes en el a&ntilde;o 2011 estuvieron de visita en Chiltiup&aacute;n con la finalidad de participar en el proyecto &ldquo;brigadas m&eacute;dicas&rdquo;, sin embargo se dan cuenta que el Doctor Brad&nbsp; no pod&iacute;a realizar operaciones en el municipio; pero, su anhelo de ayudar no termina con esa noticia, ya que ellos continuaban sintiendo la necesidad de ayudar y surge la idea de comunicarse con los patrocinadores y les propone modificar el proyecto de becas, en el cual se de una cuota fija a los estudiantes y proponiendo a Cristina como encargada de la traducci&oacute;n de cartas de estudiantes dirigidas a sus patrocinadores.</p>

                                    </div>

                                    <div style="width:90%; margin-left:5%" class="tab-pane fade" id="2014" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <h3>Cambios Importantes</h3>
                                        <hr>
                                        <p style="text-align: justify; color: grey">A partir de julio de 2014, el programa de becas ESSOC estaba siendo sujeto de cambios importantes, entre ellos se encontraba el cambio en la administraci&oacute;n del grupo de becarios, el cual desde su inicio hab&iacute;a estado dirigido por hermana Rosa; en el mes de septiembre tal como lo informa Jodie Bowers (comunicaci&oacute;n personal, 09 septiembre 2014), el nuevo equipo se conformar&aacute; por Jodie Geraldo Bowers; Dr. Brad&nbsp; Champagne, en conjunto a Hermana Irma Molina, directora del Complejo Educativo Santo Domingo de Chiltiup&aacute;n; Santos Ponce, directora del Complejo Educativo Jos&eacute; Sime&oacute;n Ca&ntilde;as de Julupe; Roberto Mart&iacute;nez, graduado del programa ESSOC y quien en la actualidad es maestro de Ingl&eacute;s en Complejo Educativo Santo Domingo; Herbert Herrera, presidente del grupo de becas y graduado de Profesor de Ingl&eacute;s, y Oscar Reyes, director del programa de becas ESSOC y tambi&eacute;n graduado de maestro en Ingl&eacute;s.</p>
                                        <p style="text-align: justify; color: grey">El 20 de julio del 2014, se sostiene la primera reuni&oacute;n con Jodie Bowers y 28 los estudiantes becarios,&nbsp; que estaban para esa fecha, donde se realiza el anuncio oficial sobre los nuevos encargados del proyecto ESSOC, se realizan entrevistas, se toman fotos con la finalidad de llevar un archivo personal de cada estudiante graduado.</p>
                                        <p style="text-align: justify; color: grey">De forma gradual se van realizando diversas actividades que involucran el apoyo de los estudiantes en conjunto con los coordinadores y patrocinadores para darle seguimiento al plan de estudio de los universitarios.</p>


                                    </div>

                                    <div style="width:90%; margin-left:5%" class="tab-pane fade" id="Actualmente" role="tabpanel" aria-labelledby="nav-profile-tab">

                                        <h3>Seguimos Creciendo</h3>
                                        <hr>
                                        <p style="text-align: justify; color: grey">Del a&ntilde;o 2014 al presente a&ntilde;o se van incorporando nuevos j&oacute;venes al proyecto de becas ESSOC y en la actualidad ya suman mas de 90 los estudiantes<a href="#_ftn1" name="_ftnref1"><sup>[1]</sup></a> activos que asisten a diversas universidades de El Salvador.&nbsp; Es decir, desde que el programa inici&oacute; se han beneficiado a m&aacute;s de 120 j&oacute;venes, entre mujeres y hombres; de los cuales m&aacute;s de 40 ya son profesionales en diversas carreras, entre las que podemos mencionar, Maestros en educaci&oacute;n b&aacute;sica y media, Licenciaturas en Comunicaci&oacute;n Social y Periodismo, Salud, Ciencias Jur&iacute;dicas; T&eacute;cnicos en ingenier&iacute;as El&eacute;ctricas, Inform&aacute;ticas, Gastronom&iacute;a, Enfermer&iacute;as; e ingenier&iacute;as en Electricidad, entre otras, de los cuales muchos se encuentran trabajando en sus &aacute;reas y a la vez apoyando a la comunidad del municipio con sus habilidades.</p>
                                        <p style="text-align: justify; color: grey">Al equipo de liderazgo del proyecto ESSOC se uni&oacute; Brian Boswell en el a&ntilde;o 2016, con la finalidad de brindar ayuda profesional y servicios de colocaci&oacute;n de los estudiantes y egresados; en 2017 se agrega Dora Ver&iacute;simo al equipo quien es trabajadora social de Portugal y mantiene comunicaci&oacute;n con los estudiantes sobre problemas sociales, estr&eacute;s, ansiedad y bienestar emocional.</p>
                                        <p style="text-align: justify; color: grey">En el mes de noviembre el equipo de liderazgo viaja a Chiltiupan para entrevistar a j&oacute;venes que solicitan la beca, cuando ya se han realizado estos pasos se realiza la entrevista y en el proyecto es aceptado el joven que muestre que tiene la aptitud para tener &eacute;xito en la universidad, como lo manifiesta Jodie Bowers.</p>
                                    </div>


                                </div><!-- /.tab-content -->
                            </div>
                        </nav><!-- /.nav-tabs-custom -->
                        <br>
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <!--modal-->
            </div>


            {# <div align="center" ><img  src="{{asset('bundles/app/images/logo.png')}}" style="margin-top:5%"></img></div>#}

        </div>
    </div>
{% endblock %}
