{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox" >
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url({{ asset('img/slide01.jpg') }})">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Educational Scholarships For Students Of Chiltiupan</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url({{ asset('img/slide02.jpg') }})">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Educational Scholarships For Students Of Chiltiupan</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url({{ asset('img/slide03.jpg') }})">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Educational Scholarships For Students Of Chiltiupan</p>
                    </div>
                </div>

                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url({{ asset('img/slide04.jpg') }})">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Educational Scholarships For Students Of Chiltiupan</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <br></br>
    <div align="center">
    </div>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="column-bucket w-col w-col-9">
                <h3  align="center" class="h3-left" style="font-family: Palatino Header !important;"><p>Educational Scholarships For Students Of Chiltiupan</p><p style="font-family: Palatino Header !important">(ESSOC)</p></h3>
                <hr>
                <p style="font-family: Palatino body !important; font-size: 14pt" class="para-left" align="justify"> Una educación universitaria es una de las maneras más efectivas en que las personas en El Salvador pueden salir de la pobreza. Las becas educativas para estudiantes de Chiltiupan (ESSOC) brindan una vía para que los feligreses de Santo Domingo afecten directamente las vidas de los estudiantes jóvenes, brillantes y aspirantes en Chiltiupan que no tienen los recursos financieros para asistir a una de las universidades de San Salvador. .&nbsp;<br><br> Por $ 1,200 al año (solo $ 100 por mes), puede patrocinar a un joven o una joven y cambiar una vida. Su donación proporcionará la matrícula y algunos suministros para su estudiante salvadoreño. Los estudiantes escriben a sus patrocinadores mensualmente actualizándolos sobre su progreso, metas, esperanzas y sueños. Los feligreses de St. Dominic patrocinan a 47 estudiantes universitarios. Varios se graduarán este año. Desde que comenzó nuestro programa en 2011, varios estudiantes se han graduado y actualmente están trabajando y llevando vidas productivas en El Salvador. 
                    <br><br> Estamos buscando personas o familias adicionales que deseen ayudar a los jóvenes de Chiltiupan a lograr sus sueños. Para obtener más información, comuníquese con nuestros codirectores de ESSOC. Para obtener más información, comuníquese con nuestros codirectores de ESSOC, el &nbsp;<a href="mailto:Brad.Champagne@uhhospitals.org?subject=ESSOC%20Inquiry" class="link-text serve-purple">Dr. Brad Champagne</a>&nbsp;y&nbsp;<a href="mailto:jbowers@stdominicchurch.net?subject=essoc">Mr. Jodie Bowers</a>.
                    <br><br>
                </p>
            </div>
        </div>
        <p></p>
        <hr>
        <div align="center"><img  src="{{asset('bundles/app/images/logo.png')}}"></img></div>
    </div>

{% endblock %}
