{# app/Resources/views/blog/index.html.twig #}
{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}
{% extends 'base.html.twig' %}
{% block body %}
    <!-- Page Content -->
    <div class="container" style="font-family: Palatino Header !important;">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3" >ESSOC
            <small>Nuestro equipo</small>
        </h1>
        <hr>
        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="{{ asset('img/nosotros.png') }}" alt="">

        <!-- Team Members -->

        <div class="row">
        {% for u in user %}
            
                <div align="center"  class="col-lg-4 mb-4">
                    <div  class="card h-100 text-center">
                        {#Panel de equipo#}
                        <div class="user-panel">
                            <div class="pull-center image" >
                                {% set user_image = false %}
                                {% if u.getProfilePicture() is not empty %}
                                    {% set user_image = 'images/profile/'~ u.getProfilePicture() %}
                                {% endif %}
                                <img  src="{{asset(user_image)}}" style="width:150px; height:150px; align:center !important; margin-top: 2%; border-radius: 400px " class="img-circle"></img>
                            </div>
                        </div>
                        {#Fin de panel de equipo#}
                        <div class="card-body">
                            <h4 class="card-title">{{u.firstName~' '~u.lastName}}</h4>

                            <p class="card-text" align="justify" style="font-family: Palatino body !important; font-size:13pt;">{{u.description}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#">{{u.email}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->
    </div>
{% endblock %}
