{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Colaboracion | {% endblock %}
{% block page_subtitle %}Transacciones De Colaboracion Monetaria {% endblock %}

{% block page_content %}

    <div class="box box-primary" style="width: 100%;">

        <div  style="width:90%; margin-top: 5%; margin-left: 5%; background-color:#F3F3F3; border-radius:5px " class="panel panel-default">

            <div class="col col-md-12" align="center" >
                <img style="width:80px;margin-top: 2%;margin-bottom: 2%" src="{{ asset('img/Banco.png') }}"></img>
            </div>
            <div class="col col-md-12 " align="center" style="margin-top:-15px">
                <h2 class="col col-md-12" style="font-family: palatino header" >Nueva Transaccion</h2>
                <h4 class="col col-md-12" style="color:grey; font-family: palatino body; margin-top: -3px;">Complete los campos requeridos:<span style="font-size: 25;color: red" >*</span></h4>

            </div>

            <div  class="container"  style="width: 80%; margin-top: 3%; margin-bottom: 3%">
                <hr>
                {{ form_start(form) }}
                 <div class="row">
                    <div class="col col-md-12" align="left">
                        <label for="form_Descripcion">Descripcion de la transaccion<span style="font-size: 25;color: red" >*</span></label>
                        {{ form_widget(form.descripciontransaccolabora) }}
                        {{ form_errors(form.descripciontransaccolabora) }}
                    </div>
                 </div>
                    <br>
                    <div class="row">
                    <div class="col col-md-6" align="left">
                        <label for="form_Ttipo">Tipo De Transaccion<span style="font-size: 25;color: red" >*</span></label>
                        {{ form_widget(form.idtipotransaccion) }}
                        {{ form_errors(form.idtipotransaccion) }}
                    </div>
                 </div>
                    <br>
                    <div class="row">
                    <div class="col col-md-6" align="left">
                        <label for="form_TipoColaboracion">Tipo De Colaboracion<span style="font-size: 25;color: red" >*</span></label>
                        {{ form_widget(form.idcolaboracion) }}
                        {{ form_errors(form.idcolaboracion) }}
                    </div>
                 </div>
                     <br>
                    <div class="row">
                    <div class="col col-md-6" align="left">
                        <label for="form_Mes">Mes De Pago<span style="font-size: 25;color: red" >*</span></label>
                        {{ form_widget(form.mespagotransaccolabora) }}
                        {{ form_errors(form.mespagotransaccolabora) }}
                    </div>
                 </div>
                     <br>
                    <div class="row">
                    <div class="col col-md-4" align="left">
                        <label for="form_Monto">Monto<span style="font-size: 25;color: red" >*</span></label>
                        {{ form_widget(form.montotrasaccolabora) }}
                        {{ form_errors(form.montotrasaccolabora) }}
                    </div>
                 </div>
                    <hr>
                     <div class="row">
                    <div class="col col-md-6" align="left">
                        <label for="form_Fecha">Fecha Emision<span style="font-size: 25;color: red" >*</span></label>
                        {{ form_widget(form.fechatransaccolabora) }}
                        {{ form_errors(form.fechatransaccolabora) }}
                    </div>
                 </div>
                    <hr>
                     <div class="row">
                    <div class="col col-md-6" align="left">
                        <label for="form_Estado">Estado<span style="font-size: 25;color: red" >*</span></label>
                        {{ form_widget(form.estadotransaccolabora) }}
                        {{ form_errors(form.estadotransaccolabora) }}
                    </div>
                 </div>
                    <hr>
                   <div class="row">
                    <div class="col col-md-12" align="right">
                        <a href="{{ path('transaccioncolaboracion_index') }}" class="btn btn-primary btn-xl">Cancelar</a>
                        <input  class="btn btn-success btn-xl" type="submit"  value="Guardar" />
                    </div>
                </div>
                
                {{ form_end(form) }}
  </div>
        </div>
        <br>
        <br>

    </div>

{% endblock %}
