{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Cuentas | {% endblock %}
{% block page_subtitle %}Catalogo De Cuentas {% endblock %}

{% block page_content %}

<div class="box box-primary">
<div style="width:90%; margin-left:5%; margin-top: 2% ">

<div align="left">
    <a style="font-size: 15px" href="{{ path('cuenta_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i> Registrar Cuenta</a>
</div>
<br> <br>

      <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
              <thead class="thead-light">
            <tr>
                <th>Numero Cuenta</th>
                <th>Nombre Cuenta</th>
                <th>Descripcion</th>
                <th>Banco</th>
                <th>Fecha Apertura</th>
                <th>Saldo Inicial</th>
                <th>Saldo Actual</th>
                <th>Estado</th>
                <th>Usuario</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>

        {% for cuentum in cuentas %}
            <tr>
                <td><a data-toggle="modal" data-target="#MovimientoCB{{cuentum.idcuenta}}">{{ cuentum.numcuenta }}</a>
                {{ render(controller('AppBundle:Movimiento:cuenFind',{'id':cuentum.idcuenta} )) }}
                </td>
                <td>{{ cuentum.nomcuenta }}</td>
                <td>{{ cuentum.descripcioncuenta }}</td>
                <td>{{ cuentum.idbanco }}</td>
                <td>{% if cuentum.fechaapertura %}{{ cuentum.fechaapertura|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ cuentum.saldocuenta }}</td>
                <td>{{ cuentum.saldoactual }}</td>
                <td>{% if cuentum.estadocuenta %}Activa{% else %}Inactiva{% endif %}</td>
                <td>{{ cuentum.idusuario }}</td>
                <td>
                  <div style="float:left;"><button title="Eliminar Cuenta" class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#deleteCuenta{{ cuentum.idcuenta }}"><i class="fa fa-trash" style="font-size: 20px; color: crimson"></i></button>
                          {{ render(controller('AppBundle:Cuenta:showDelete', { 'id' : cuentum.idcuenta } )) }}
                  </div>

                  <div style="float:left;" >
                    <a title="Editar Cuenta" href="{{ path('cuenta_edit',{ 'id' : cuentum.idcuenta }) }}" style="background-color: transparent; border: none;"><i class="fa fa-edit" style="font-size: 20px; color: limegreen"></i></a>
                  </div>
                  
                  <div style="float:left;"><button title="Ver Cuenta" class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#VerCuenta{{ cuentum.idcuenta }}"><i class="fa fa-eye" style="font-size: 20px; color: deepskyblue"></i></button>
                          {{ render(controller('AppBundle:Cuenta:show', { 'id' : cuentum.idcuenta } )) }}
                  </div>
                </td>

            </tr>

          </div>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
