<div class="modal fade" id="VerCuenta{{ cuenta.idcuenta }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content" style="border-radius: 40px">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 align="center"><strong>¿Eliminar Cuenta?</strong></h3>
				</div>
				<div class="modal-body">

  <div class="list-group">
    <!--modal-->

    <h4>ID</h4>
    <p class="list-group-item">{{  cuenta.idcuenta }}</p>
    <h4>Numero De Cuenta</h4>
    <p class="list-group-item">{{  cuenta.numcuenta }}</p>
    <h4>Nombre Cuenta</h4>
    <p class="list-group-item">{{  cuenta.nomcuenta }}</p>
    <h4>Descripcion</h4>
    <p class="list-group-item">{{  cuenta.descripcioncuenta }}</p>
    <h4>Fecha Creacion</h4>
    <p class="list-group-item">{{  cuenta.fechaapertura|date('Y-m-d H:i:s') }}</p>
    <h4>Saldo Inicial</h4>
    <p class="list-group-item">{{  cuenta.saldocuenta }}</p>
    <h4>Estado</h4>
    <p class="list-group-item">{% if cuenta.estadocuenta==1  %} Activa {% else %} Inactiva {% endif %}</p>
    </div>

    <div class="modal-footer">
    <div style="float:left">
    		{{ form_start(delete_form) }}
    		<input type="submit" class="btn btn-danger" value="Delete">
    		{{ form_end(delete_form) }}
    </div>
    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
    </div>
    </div>
    </div>
    </div>
    </div>
