{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Cuentas {% endblock %}

{% block avanzu_breadcrumb %}
    {{ render(controller('AppBundle:Breadcrumb:breadcrumb', {'request':app.request, 'title' : block('page_title')})) }}
{% endblock %}
{% block page_content %}

    <div class="box box-primary">
        <div style="width:90%; margin-left:5%; margin-top: 2% ">

            <div align="left">
                <a style="font-size: 15px" href="{{ path('cuenta_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i> Cuenta</a>
            </div>
            

            <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
                <thead class="thead-light">
                    <tr>
                <th width="15%">No Cuenta</th>
                <th width="15%">Cuenta</th>
                <th width="25%">Banco</th>
                <th width="15%">Fecha Apertura</th>
                   {#<th><center>Saldo Inicial</center></th>
                    <th><center>Saldo Actual</center></th>#}
                <th width="10%">Estado</th>
                <th width="10%">Usuario</th>
                <th width="10%"><center>Opciones</center></th>
                </tr>
                </thead>
                <tbody>

                    {% for cuentum in cuentas %}
                        <tr>
                            <td><a data-toggle="modal" data-target="#MovimientoCB{{cuentum.idcuenta}}">{{ cuentum.numcuenta }}</a>
                                {{ render(controller('AppBundle:Movimiento:cuenFind',{'id':cuentum.idcuenta} )) }}

                            </td>
                            <td>{{ cuentum.nomcuenta }}</td>
                    <td>{{ cuentum.idbanco }}</td>
                    <td>{% if cuentum.fechaapertura %}{{ cuentum.fechaapertura|date('Y-m-d H:i:s') }}{% endif %}</td>
                        {#  <td>{{ "$"~cuentum.saldocuenta }}</td>
                          <td>{{ "$"~cuentum.saldoactual }}</td>#}
                    <td>{% if cuentum.estadocuenta %}Activa{% else %}Inactiva{% endif %}</td>
                    <td>{{ cuentum.idusuario }}</td>
                    <td align="center">
                    
                    <div class="options btn-group btn-group-sm">
                  <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-caret-down no-margin"></i> Opciones
                  </a>
                  <ul class="dropdown-menu">

                    <li>
                        <a href="#" data-toggle="modal" data-target="#VerCuenta{{ cuentum.idcuenta }}">
                            <i class="fa fa-eye fa-margin"></i> Mostrar
                        </a>
                    </li>

                     <li>
                        <a href="{{ path('cuenta_edit',{ 'id' : cuentum.idcuenta }) }}" >
                            <i class="fa fa-edit fa-margin"></i> Editar
                        </a>
                    </li>

                    <li>
                        <a href="#" data-toggle="modal" data-target="#deleteCuenta{{ cuentum.idcuenta }}">
                            <i class="fa fa-trash-o fa-margin"></i> Eliminar
                        </a>
                    </li>
                    
                    </ul>

                     {{ render(controller('AppBundle:Cuenta:showDelete', { 'id' : cuentum.idcuenta } )) }}
                      {{ render(controller('AppBundle:Cuenta:show', { 'id' : cuentum.idcuenta } )) }}

                  </div>
                    </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
