
<div class="modal fade" id="MovimientoCB{{cuenta.idcuenta}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% set cuen = cuenta.idcuenta %}
    <div style="width:50%; margin-left:25%" class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Movimientos de la cuenta: {{cuenta.numcuenta}}</h4>
            </div>
            <div class="modal-body">


                <div class="box box-primary">
                    <div style="width:90%; margin-left:5%; margin-top: 2% ">


                        <table class="table table-bordered table-hover table-striped table-responsive" id="tabelMahasiswa{{cuenta.idcuenta}}">
                            <thead>
                                <tr>
                                    <th>Descripcion</th>
                                    <th>Monto</th>
                                    <th>Estado</th>
                                    <th>Cuenta</th>
                                    <th>Tipo</th>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for movimiento in movimientos %}
                                    <tr>
                                        <td>{{ movimiento.descripcionmov }}</td>
                                        <td>{{ "$"~movimiento.monto }}</td>
                                        <td>{% if movimiento.estadomov %}Aprobado{% else %}Pendiente{% endif %}</td>
                                        <td>{{ movimiento.idcuenta }}</td>
                                        <td>{{ movimiento.idtipomov }}</td>
                                        <td>{{ movimiento.idusuario }}</td>
                                        <td>{% if movimiento.createdAt %}{{ movimiento.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>



                <!--modal-->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% block javascripts_inline %}

    <script language="JavaScript" type="text/javascript">

        $(document).ready(function () {
            $("#tabelMahasiswa{{cuenta.idcuenta}}").DataTable({
                "scrollX": "100%",
                "scrollY": "200px",
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            });
        });

    </script>
{% endblock %}