<div class="modal fade" id="MovimientoCB{{cuenta.idcuenta}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% set cuen = cuenta.idcuenta %}
    <div style="width:80%; margin-left:10%" class="modal-dialog">
        <div class="modal-content" style="border-radius: 8px">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Movimientos de la cuenta: {{cuenta.numcuenta}}</h4>
            </div>
            <div class="modal-body">


                <div class="box box-primary">
                    <div style="width:90%; margin-left:5%; margin-top: 2% ">


                        <table class="table table-bordered table-hover table-striped table-responsive"  id="tabelMahasiswa{{cuenta.idcuenta}}">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Monto</th>
                                    <th>Estado</th>
                                    <th>Cuenta</th>
                                    <th>Tipo</th>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for movimiento in movimientos %}
                                    <tr>
                                        <td class="th">{{ movimiento.descripcionmov }}</td>
                                        <td class="th">{{ "$"~movimiento.monto }}</td>
                                        <td class="th">{% if movimiento.estadomov %}Aprobado{% else %}Pendiente{% endif %}</td>
                                        <td class="th">{{ movimiento.idcuenta }}</td>
                                        <td class="th">{{ movimiento.idtipomov }}</td>
                                        <td class="th">{{ movimiento.idusuario }}</td>
                                        <td class="th">{% if movimiento.createdAt %}{{ movimiento.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <!--modal-->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script language="JavaScript" type="text/javascript">

    $(document).ready(function () {
        $("#tabelMahasiswa{{cuenta.idcuenta}}").DataTable({

            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });
        
         $("#tabelMahasiswa{{cuenta.idcuenta}}").removeAttr("style");
         $('.sorting').removeAttr("style");
    });

</script>
