{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Solicitud | {% endblock %}
{% block page_subtitle %}Lista De solicitudes {% endblock %}

{% block page_content %}

    <div class="box box-primary">
        <div style="width:90%; margin-left:5%; margin-top: 2% ">

            <div align="left">
                <a style="font-size: 20px" href="{{ path('solicitudpatrocinador_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i> Registrar Solicitud</a>
            </div>
            <br>

            <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
                <thead class="thead-light">
            <tr>
                <th>Usuario</th>
                <th>Solicitante A Patrocinador</th>
                <th>Email</th>
                <th>Documento De Identidad</th>
                <th>Monto ha Patrocinar</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Estado</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for solicitudpatrocinador in solicitudpatrocinador %}
            <tr>
                <td>{{ solicitudpatrocinador.idusuario }}</td>
                <td>{{ solicitudpatrocinador.idusuario.firstName~" "~solicitudpatrocinador.idusuario.lastName }}</td>
                <td>{{ solicitudpatrocinador.idusuario.email }}</td>
                <td>{{ solicitudpatrocinador.docidentidadsolipatrocinador }}</a></td>
                <td>{{"$"~solicitudpatrocinador.montoaportarsolipatrocinador }}</td>
                <td>{{ solicitudpatrocinador.telefonosolipatrocinador }}</td>
                <td>{{ solicitudpatrocinador.direccionsolipatrocinador }}</td>
                <td>{% if solicitudpatrocinador.estadosolipatrocinador == 0 %}En Espera{% elseif  solicitudpatrocinador.estadosolipatrocinador == 1 %}Aprobado{% elseif  solicitudpatrocinador.estadosolipatrocinador == 2 %}Rechazado{% endif %}</td>
                <td>
                    <div class="row">
                               
                        <div class="col col-md-3"><button title="ShowSoliPatrocinador" class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#VerSoliP{{ solicitudpatrocinador.idsolipatrocinador }}"><i style="font-size: 20px"></i><i class="fa fa-eye" style="font-size: 20px; color: deepskyblue"></i></button>
                                   {{ render(controller('AppBundle:Solicitudpatrocinador:show', { 'id' : solicitudpatrocinador.idsolipatrocinador } )) }}
                        </div>
                        
                        <div class="col col-md-3"><button class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#DeleteSoliP{{ solicitudpatrocinador.idsolipatrocinador }}"><i class="fa fa-trash" style="font-size: 20px; color: crimson"></i></button>
                                {{ render(controller('AppBundle:Solicitudpatrocinador:showDelete', { 'id' : solicitudpatrocinador.idsolipatrocinador } )) }}
                        </div>
                        
                        <div class="col col-md-3">
                            <a title="Editar Solicitud" href="{{path('solicitudpatrocinador_edit',{ 'id' : solicitudpatrocinador.idsolipatrocinador })}}" style="background-color: transparent; border: none;"><i class="fa fa-edit" style="font-size: 20px; color: limegreen"></i></a>
                        </div>
                        
                    </div>
                </td>
            </tr>

                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}