{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Inventario{% endblock %}

{% block page_content %}

<div class="box box-primary">
<div style="width:90%; margin-left:5%; margin-top: 2% ">

<div align="left">
     <a style="font-size: 15px" href="{{ path('inventario_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i>  Artículo</a>
</div>
<br>

        <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
            <thead class="thead-light">
            <tr>
                <th width="25%">Cantidad Disponible</th>
                <th width="32%">Insumo</th>
                <th width="25%">Fecha Ingreso</th>
                <th width="18%"><center>Opciones</center></th>
            </tr>
        </thead>
        <tbody>
        {% for inventario in inventarios %}
            <tr>
                <td>{{ inventario.cantidadinventario }}</td>
                <td>{% if inventario.cantidadinventario>0  %}<a href="{{ path('movimientoinventario_new',{ 'id' : inventario.idinventario }) }}" style="background-color: transparent; border: none;">{{ inventario.idinsumo }}</a>{% else %}No Disponible{% endif %}</td>
                
                <td>{% if inventario.fechainventario %}{{ inventario.fechainventario|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td align="center">


                  <div class="options btn-group btn-group-sm">
                  <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-caret-down no-margin"></i> Opciones
                  </a>
                  <ul class="dropdown-menu">

                    <li>
                        <a href="#" data-toggle="modal" data-target="#Verinv{{ inventario.idinventario }}">
                            <i class="fa fa-eye fa-margin"></i> Mostrar
                        </a>
                    </li>

                     <li>
                        <a href="{{ path('inventario_edit',{ 'id' : inventario.idinventario }) }}" >
                            <i class="fa fa-edit fa-margin"></i> Editar
                        </a>
                    </li>

                    <li>
                        <a href="#" data-toggle="modal" data-target="#Verinvdelete{{ inventario.idinventario }}">
                            <i class="fa fa-trash-o fa-margin"></i> Eliminar
                        </a>
                    </li>
                    
                    </ul>

                      {{ render(controller('AppBundle:Inventario:showdelete', { 'id' : inventario.idinventario } )) }}
                      {{ render(controller('AppBundle:Inventario:show', { 'id' : inventario.idinventario } )) }}
                  </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}