{% extends "layout/base-layout.html.twig" %}

{% block page_title %}Banco{% endblock %}

{% block page_content %}

<div class="box box-primary">
<div style="width:90%; margin-left:5%; margin-top: 2% ">

<div align="left">
    <a style="font-size: 15px" href="{{ path('banco_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i> Banco</a>
</div>
<br>

    <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
          <thead class="thead-light">
            <tr>
                <th width="64%">Banco</th>
                <th width="18%">Estado</th>
                <th width="18%"><center>Opciones</center></th>
            </tr>
        </thead>
        <tbody>

        {% for banco in bancos %}
        <tr>


              <td align="left">{{ banco.nombanco }}</td>
              <td><left>{% if banco.estadobanco %}Activo{% else %}Inactivo{% endif %}</left></td>
              <td align="center">

              <div class="btn-group" style="width:100%">
                          <button class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#showBanco{{ banco.idbanco }}"><i class="fa fa-eye" style="font-size: 20px; color: deepskyblue"></i></button>
                                {{ render(controller('AppBundle:Banco:show', { 'id' : banco.idbanco } )) }}


                            <a href="{{ path('banco_edit',{ 'id' : banco.idbanco }) }}" style="background-color: transparent; border: none;"><i class="fa fa-edit" style="font-size: 20px; color: limegreen"></i></a>

                            <button class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#showdeleteBanco{{ banco.idbanco }}"><i class="fa fa-trash" style="font-size: 20px; color: crimson"></i></button>
                                {{ render(controller('AppBundle:Banco:showdelete', { 'id' : banco.idbanco } )) }}

               </div>

              </td>

          </tr>

      {% endfor %}
      </tbody>
  </table>
  </div>
  </div>
{% endblock %}
