{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Bancos | {% endblock %}
{% block page_subtitle %}Catalogo De Bancos {% endblock %}

{% block page_content %}

<div class="box box-primary">
<div style="width:90%; margin-left:5%; margin-top: 2% ">

<div align="left">
    <a style="font-size: 20px" href="{{ path('banco_new') }}" class="btn btn-success btn-sm"><i style="font-size: 20px" class="fa fa-plus-circle"></i> Banco</a>
</div>
<br>

    <table class="table table-bordered table-hover table-striped table-responsive" style="width:100%" id="tabelMahasiswa">
          <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Banco</th>
                <th>Estado</th>
                <th>Accion</th>

            </tr>
        </thead>
        <tbody>

        {% for banco in bancos %}
        <tr>
              <td>{{ banco.idbanco }}</td>
              <td>{{ banco.nombanco }}</td>
              <td>{% if banco.estadobanco %}Activo{% else %}Inactivo{% endif %}</td>
              <td>
                  <center>
                        <div class="row">
                        <div style="float:left;"><button class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#showdeleteBanco{{ banco.idbanco }}"><i class="fa fa-trash" style="font-size: 20px; color: crimson"></i></button>
                                {{ render(controller('AppBundle:Banco:showdelete', { 'id' : banco.idbanco } )) }}
                        </div>

                        <div style="float:left;" >
                            <a href="{{ path('banco_edit',{ 'id' : banco.idbanco }) }}" style="background-color: transparent; border: none;"><i class="fa fa-edit" style="font-size: 20px; color: limegreen"></i></a>
                        </div>
                        
                        <div style="float:left;"><button class="" style="background-color: transparent; border: none;" data-toggle="modal" data-target="#showBanco{{ banco.idbanco }}"><i class="fa fa-eye" style="font-size: 20px; color: deepskyblue"></i></button>
                                {{ render(controller('AppBundle:Banco:show', { 'id' : banco.idbanco } )) }}
                        </div>
                        </div>
                    </center>
                
              </td>

          </tr>
    
      {% endfor %}
      </tbody>
  </table>
  </div>
  </div>
{% endblock %}
